<template>
    <section v-if="is_worked" class="main">
        <div id="warning">
            <transition name="fade">
                <div class="alert alert-warning alert-dismissible" :class="{'show': alert.status}" v-if="alert.status"
                     role="alert">
                    {{ alert.text }}
                    <button type="button" class="close" @click="alert.status = false" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </transition>
        </div>

        <header class="top">
            <a href="/" class="logo">
                <img src="/public/img/logo.png" alt="logo">
            </a>
        </header>
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <ul class="menu">
                        <li v-for="item in menu" @click="order.type = item.value"
                            :class="{'active': order.type == item.value}">{{ item.name }}
                        </li>
                        <li class="about"><a href="/about">о нас</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-8 col-xs-12">

                    <article class="colendar">
                        <calendar
                                @error="Error($event)"
                                @order="MakeDateOrder($event)"
                                :order="order"
                        ></calendar>
                    </article>

                    <dashboard-orders
                            :data="orders"
                            :month="isMonth"
                            :type="order.type"
                            @error="Error($event)"
                    ></dashboard-orders>

                </div>

                <div class="col-sm-4 col-xs-12">

                    <article class="form">

                        <div class="form">
                            <header>
                                <h4>Оформление заказа</h4>
                            </header>

                            <div class="f-group">
                                <label class="f-block inp-text">
									<span>
										Имя
									</span>
                                    <input type="text" class="full_name" v-model="order.name"
                                           placeholder="Введите выше имя" name="name" required>
                                </label>

                                <label class="f-block inp-text">
									<span>
										Название группы
									</span>
                                    <input type="text" class="group_name" v-model="order.group"
                                           placeholder="Введите название вашей группы" name="group">
                                </label>

                                <label class="f-block inp-text">
									<span>
										E-Mail
									</span>
                                    <input type="email" class="email" placeholder="Введите ваш E-Mail адрес"
                                           v-model="order.email" required>
                                </label>

                                <label class="f-block inp-text">
                                    <span>Моб. Телефон</span>
                                    <input name="tel" class="phone" type="tel" v-model="order.phone"
                                           placeholder="+380___-__-__ " required>
                                </label>


                                <div class="checkbox-confirm">
                                    <input type="checkbox" name="callback" id="call-back" v-model="order.callback"
                                           class="callback checkbox">
                                    <label for="call-back">
                                        Хочу обратный звонок до оплаты
                                    </label>
                                </div>
                                <div class="mus-instr f-block">
                                    <span>Интсрументы на которых вы играете</span>
                                    <div class="f-inline" id="instruments">
                                        <div class="instr" v-for="(item, index) in instruments">
                                            <label @click="AddInstument(item.id); item.checked = !item.checked"
                                                   :class="{checked: item.checked}">
                                                <img :src="item.img"> {{item.name}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="timer">
                                    <p>Осталось времени для оплаты: <span class="time"><span
                                            class="timer-number">15:35</span> мин</span></p>
                                </div>
                                <div class="order">
                                    <button id="validatorTrigger" class="form-btn" @click="MakeOrder()">
                                        Забронировать и оплатить
                                    </button>
                                </div>

                                <div class="checkbox-confirm confirm-month">
                                    <input @click="MakeMonthOrders()" type="checkbox" name="buy_month" id="buy-month"
                                           class="checkbox">
                                    <label for="buy-month" id="buy-month-label">
                                        Бронь на месяц
                                    </label>
                                    <span class="notific">Скидка - {{ settings.sale_month }}% </span>
                                </div>

                            </div>

                        </div>

                    </article>

                </div>

            </div>
        </div>

        <button type="button" class="btn btn-primary d-none" id="modal-huck" data-toggle="modal"
                data-target="#free-place-modal">
            Launch demo modal
        </button>

        <div class="modal fade" id="free-place-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title mb-3">
                            <h3 class="text-center">Даты и Время которые уже заняты</h3>
                        </div>
                        <table class="table" id="free-place">
                            <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Время</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2019-12-18</td>
                                <td>16:00</td>
                                <td>занято</td>
                            </tr>
                            <tr>
                                <td>2019-12-18</td>
                                <td>16:00</td>
                                <td>занято</td>
                            </tr>
                            <tr>
                                <td>2019-12-18</td>
                                <td>16:00</td>
                                <td class=".text-danger">занято</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-info"><em>Выберите "заказать обратный звонок" <br>
                            чтоб выбрать удобное для вас время например: 2019-12-18 17:00</em></p>
                    </div>

                    <div class="modal-footer">
                        <button id="confirm-free-place" type="button" class="btn btn-outline-info btn-block"
                                data-dismiss="modal">Я понял
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div v-else class="d-flex flex-column justify-content-center align-items-center" style="
    min-height: 100vh;
">
        <div class="jumbotron main-bg"><h1 class="display-4"><a href="/">
            <img src="/public/img/logo.png" alt="logo">
        </a> Вы запустили сайт!</h1>
            <p class="lead">Отличная работа осталось совсем немного! <br> Вся информация для настройки сайта у
                разрабочика в зашифрованном виде для избежания взлома</p>
            <hr class="my-4">
            <ol>
                <li>Зайдите в админ панель</li>
                <li>Найдите вкладку настройки</li>
                <li>Настройте свой сайт в соотвествии с инструкцией</li>
                <li>Добавьте музыкальные инструменты</li>
                <li>Используйте сайт</li>
            </ol>
        </div>
    </div>
</template>

<script>

    import Calendar from '../Calandar'

    export default {
        data() {
            return {
                is_worked: website.length,

                orders: [],
                order: {
                    type: '',
                    amount: '',
                    time: [],
                    date: '',
                    name: '',
                    group: '',
                    email: '',
                    phone: '',
                    callback: '',
                    instruments: [],
                    sale: 0.00,
                },

                alert: {
                    status: false,
                    text: '',

                },

                instruments: [],
                isMonth: false,
                menu: [],

                settings: settings,

                errors: [],
            }
        },
        created() {

            // Factory main menu
            window.menu = {}
            for (name in settings) {
                if (name[0] === "_") {
                    this.menu.push({
                        name: name.slice(1),
                        value: settings[name]
                    })
                    window.menu[settings[name]] = name.slice(1)
                }
            }

            this.InstrumentsList
        },
        methods: {
            Error(e) {
                this.alert.text = e.text
                this.alert.status = true
            },
            ChangeDateOrder(e) {
                this.order.date = e
            },
            AddInstument(time) {
                if (this.order.instruments.indexOf(time) <= -1) {
                    this.order.instruments.push(time)
                } else {
                    this.order.instruments.splice(this.order.instruments.indexOf(time), 1)
                }
            },
            MakeDateOrder(e) {
                this.order.date = e.date
                this.order.time = e.time

                this.MakeMonthOrders()
            },
            MakeMonthOrders() {
                let app = this
                this.isMonth = document.getElementById('buy-month').checked

                if (this.order.date == "" && this.order.time.length === 0) {
                    this.Error({
                        text: "Вы не выбрали дату или время"
                    })

                    this.isMonth = document.getElementById('buy-month').checked = false

                    return false
                }

                if (this.isMonth === false) {
                    this.orders = [this.order]

                    return false
                }

                let dateText = String(this.order.date).split('-')
                let m = moment(dateText[0] + '-' + dateText[1] + '-' + dateText[2])
                let check_dates = [];
                let datetime = moment(m).date()
                for (datetime; datetime <= m.daysInMonth(); datetime = datetime + 7) {
                    check_dates.push(dateText[0] + '-' + dateText[1] + '-' + datetime)
                }

                window.axios.post('check_datetime', {dates: check_dates, time: this.order.time}).then(response => {
                    let data = response.data
                    if (data.error) {
                        for (let e in data.error) {
                            this.errors.push(data.error[e])
                        }
                    }

                    this.orders = []
                    for(let key in data.valid){
                        this.orders.push({
                            type: app.order.type,
                            amount: 0.00,
                            time: data.valid[key].time,
                            date: data.valid[key].date,
                            name: app.order.name,
                            group: app.order.group,
                            email: app.order.email,
                            phone: app.order.phone,
                            callback: app.order.callback,
                            instruments: app.order.instruments,
                            sale: app.order.sale,
                        })
                    }

                })

            },
            MakeOrder() {
                let app = this
                let data = []
                this.orders.filter(order => {
                    data.push({
                        type: app.order.type,
                        amount: order.amount,
                        time: order.time,
                        date: order.date,
                        name: app.order.name,
                        group: app.order.group,
                        email: app.order.email,
                        phone: app.order.phone,
                        callback: app.order.callback,
                        instruments: app.order.instruments,
                        sale: app.order.sale,
                    })
                })

                window.axios.post('/createOrder', data).then(response => {
                    let form = $('div')
                    form.html(response.data.form)
                    $('#interkassa').submit()
                })
            }
        },
        computed: {
            InstrumentsList: function () {
                let instrumentsList = []
                instruments.filter(instr => {
                    instr.checked = false
                    instrumentsList.push(instr)
                })

                this.instruments = instrumentsList
            }
        },
        components: {
            'Calendar': Calendar,
        }
    }
</script>

<style>

    .mx-btn-icon-double-left,
    .mx-btn-icon-double-right {
        display: none;
    }

    .mx-calendar-content table {
        width: 100%;
        border: 0;
        border-collapse: collapse !important;
        border-spacing: 0 !important;
    }

    table.mx-table.mx-table-date thead th {
        border-radius: 5px;
        background: #443f28;
        color: #edbe00;
        font-size: 10px;
        padding: 15px 10px;
        font-family: Roboto;
        border-left: 4px solid #2d2d2d;
    }

    table.mx-table.mx-table-date tbody td {
        width: 14%;
        vertical-align: top;
        text-align: center;
        padding: 30px 0;
        border: 1px solid #2d2d2d;
        color: #fff;
        font-size: 9px;
        line-height: 1.333;
        border-radius: 5px;
        text-transform: uppercase;
        position: relative;
        background: #474747;
        cursor: pointer;
    }

    table.mx-table.mx-table-date tbody td::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f107';
        font-size: 14px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #edbe00;
    }

    table.mx-table.mx-table-date tbody td.disabled {
        background: #474747;
        opacity: 0.4;
    }

    table.mx-table.mx-table-date tbody td > div {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 14px;
    }

    table.mx-table.mx-table-date tbody td:hover {
        background: #565656;
        color: #fff;
    }
</style>