// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

 //Variables
//@import 'variables';

//@import '../../node_modules/bootstrap/scss/bootstrap';
//@import '../../node_modules/bootstrap-vue/src/index.scss';
// Parcel example
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "variables";
@import "setting";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@keyframes dashboard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-fade {
  transition: animation .5s;
  animation-name: dashboard;
  animation-duration: .5s;
}



body {
  background: #2d2d2d;
  height: 100%;
}