

.setting-item {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 280px;
  height: 280px;
}

.setting-border {
  border-color: $main-color;
  border-style: solid;
  border-radius: 2px;
}

.setting-pa {
  padding: 2em;
}

.setting-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $main-color;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s;
}

.setting-link:hover {
  text-decoration: none;
  color: $dark;
  background: $main-color;
}