/* Ion.Calendar
// Version 2.0.1, build: 91
// © 2013 Denis Ineshin | IonDen.com
//
// Project page:    http://ionden.com/a/plugins/ion.calendar/
// GitHub page:     https://github.com/IonDen/ion.calendar
//
// Released under MIT licence:
// http://ionden.com/a/plugins/licence-en.html
// ===================================================================================================================*/

/* ic = ion.calendar prefix */
.ic__container,
.ic__week-head,
.ic__week-head .td,
.ic__days,
.ic__days .td,
.ic__header,
.ic__prev,
.ic__next,
.ic__datepicker {
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; line-height: 13px;
    cursor: default;
    text-shadow: none !important;
}


.ic__container {
    position: relative;
}
    .ic__container table {
        width: 100%;
        border: 0;
        border-collapse: collapse !important;
        border-spacing: 0 !important;
    }


.ic__header {
    position: relative;
    height: 35px;
}
    .ic__prev, .ic__next {
        position: absolute;
        top: 0;
        height: 35px;
        font-size: 1rem;
        border-radius: 4px;
        background-color: #edbe00;
        box-shadow: 0 0 4px 0 #edbe00;
        font-family: Roboto;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bold;
    }
    .ic__prev {
        padding: 0 30px 0 20px;
    }
    .ic__next {
        padding: 0 20px 0 30px;
    }
    .ic__prev:hover, .ic__next:hover {
        background-color: #f6cf30;
        box-shadow: 0 0 4px 0 #f6cf30;
    }

    .ic__prev i, .ic__next i {
        font-size: .8rem;
        padding: 0 10px;
    }
        .ic__prev div, .ic__next div {
            position: absolute;
            width: 0; height: 0;
            overflow: hidden;
            border: 5px solid transparent;
        }

    .ic__prev {
        left: 0;
    }
        .ic__prev div {
            top: 13px; left: 50%;
            margin-left: -7px;
            border-right-color: #fff;
        }
    .ic__next {
        right: 0;
    }
        .ic__next div {
            top: 13px; right: 50%;
            margin-right: -7px;
            border-left-color: #fff;
        }


    .ic__month {
        position: absolute;
        top: 6px; left: 9%;
        width: 50%;
    }
    .ic__year {
        position: absolute;
        top: 6px; right: 9%;
        width: 30%;
    }
    .ic__header select {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #000;
        padding: 2px;
        font-size: 14px;
        font-weight: bold;
    }
    .ic__header select:focus {
        outline: none;
    }



.ic__week-head .td {
    width: 14%;
    vertical-align: top;
    text-align: center;
    padding: 10px 0 8px;

    /*border: 1px solid #ebebeb;*/
    color: #b5b5b5;
    font-size: 9px; line-height: 1.333;
    text-transform: uppercase;
}


.ic__days {
    margin-top: -1px;
}
    .ic__days .td {
        width: 14%;
        vertical-align: top;
        text-align: center;
        padding: 30px 0;
        border: 1px solid #2d2d2d;
        color: #fff;
        font-size: 9px;
        line-height: 1.333;
        border-radius: 5px;
        text-transform: uppercase;
        position: relative;
    }
    .ic__days .ic__day {
        background: #474747;
        cursor: pointer;
    }
    .ic__days .ic__day:hover {
        background: #565656;
        color: #fff;
    }
    .ic__days .ic__day-empty {
        background: #474747;
        opacity: 0.4;
    }
    .ic__days .ic__day_state_current {
        background: #f4f4f4;
        color: #000;
    }
    .ic__days .ic__day_state_selected {
        background: #848080;
        color: #000;
    }


.ic__datepicker {
    position: absolute;
    top: -9999px; left: -9999px;
    width: 250px; padding: 10px;
    border-radius: 10px;
    background: #333;
    z-index: 9999;
}