@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {
	font-family: Roboto;
}

body{
	background: #2d2d2d;
}

.top {
	background: #edbe00;
	text-align: center;
	padding: 5px 0;
	min-height: 75px;
}

.logo {
	position: absolute;
	left: 50%;
	margin-left: -30px;
	z-index: 10;
}

.logo img {
	width: 60px;
	height: 60px;
}

section.main {
	background: #2d2d2d;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 110%;
	flex-direction: column;
}

@media screen and (min-width: 1500px) {
	section.main {
		height: 110%;
		padding-bottom: 25px;
	}
}
.hide {
	display: none;
}

.tab-bg {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 100%;
	background: #0001;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}

.menu {
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 2em 0;
}
.menu li:last-child {
	position: absolute;
	right: 0;
}

.menu li:first-child {
	padding-left: 0;
}

.menu li, .menu li a {
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	border-bottom: 2px solid transparent;
	padding-bottom: 10px;
	margin: 0 15px;
	cursor: pointer;
}

@media screen and (max-width: 425px){
	.menu li, .menu li a {
		font-size: 14px;
		padding-bottom: 0;
	}
}

.menu li:hover,
.menu li:hover a{
	color: #fff;
}

.menu li.active {
	border-bottom: 2px solid #edbe00;
	color: #fff;
}

.ic__header::before {
	position: absolute;
	left: 0;
	width: 100%;
	top: 10px;

}

.ic__title {
	position: absolute;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.ic__title > span {
	padding: 0 10px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.ic__prev, .ic__next {z-index: 5}

.ic__week-head td:first-child {
	border-left: none;
}
.ic__week-head td {
	border-radius: 5px;
	background: #443f28;
	color: #edbe00;
	font-size: 10px;
	padding: 15px 10px;
	font-family: Roboto;
	border-left: 4px solid #2d2d2d;
}

.ic__header {
	margin-bottom: 40px;
}

.ic__header::after {
	content: '';
	width: 100%;
	position: absolute;
	border-bottom: 1px solid #474747;
	bottom: -20px;
}

table.ic__week-head {
	margin-bottom: 10px;
}

.ic__days span.num  {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
}

.ic__day::before {
	font-family: "Font Awesome 5 Free"; font-weight: 900; 
	
	content: '\f107';
	font-size: 14px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #edbe00;
}

.ic__day .tab {
	position: absolute;
	top: 0;
	left: 0;
	width: 312px;
	z-index: 12;
	background: #fff;
	color: #333;
	padding: 10px 7px;
	border-radius: 6px;
}
.ic__day .tab header {
	font-size: 14px;
	text-align: left;
}
.ic__day .tab table {
	margin: 0;
}

.ic__day {
	cursor: pointer;
}

.ic__day .tab tr {
	border-bottom: 1px solid #777;
}
.ic__day .tab tr:last-child {
	border-bottom: none;
}
.ic__day .tab td {
	color: #333;
	width: auto;
	padding: 13px 0;
	border: none;
	font-size: 12px;
}


@media screen and (max-width: 768px)
{
	.ic__title {
		top: 60px;
	}

	.ic__next {
		padding: 0 15px 0 25px;
	}

	.ic__prev {
		padding: 0 25px 0 15px;
	}
	.ic__header {
		margin-bottom: 100px;
	}

	.ic__header::after {
		bottom: -80px
	}

	.menu a {
		font-size:  .8rem;
	}

}

@media screen and (max-width: 320px)
{
	.menu a {
		font-size:  .6rem;
	}
}

.unavailable-.5s {
	color: #999;
}
..5s {
	font-weight: bold;
	width: 70px;
	position: relative;
}

table.dataTable.no-footer,
table.dataTable thead th, table.dataTable thead td {
	border-bottom: none;
}

#component {
	width: 320px;
	position: absolute;
	z-index: 12;
	border-radius: 7px;
	padding: 10px;
	background: #fff;
	top: 0;
	left: 0;
	color: #333;
}

#component header {
	font-size: .9rem;
	text-align: left;
	font-weight: 500;
}
#tab thead {
	height: 0;
	position: absolute;
	z-index: -1;
}
#tab td {
	color: #333;
	border-radius: 0;
	border: none;
	padding: 7px 0;
	text-align: left;
	font-size: 0.75rem;
	width: auto;
}
#tab tr td {
	border-bottom: 1px solid #e0e0e0;
}

#tab tr:last-child td > *{
	border-bottom: none;
}

#tab .main-color {
	color: #edbe00;
}

.main-bg {
	background: #edbe00 !important
}

.main-color {
	color: #edbe00;
}
#tab .red-color {
	color: red;
}

#tab tr.select .main-color{
	color: #24a93a !important;
}
#tab tr td:last-child, #tab tr td:last-child * {
	text-transform: uppercase;
	cursor: pointer;
}
#tab tr td:last-child input {
	visibility: hidden;
}

article.form {
	background: #3b3b3b;
	padding: 35px 30px 10px;
	border-radius: 7px;
	box-shadow: 0px 3px 13px -3px #111;
	color: #fff;
}

article.form header > * {
	font-size: 1.1rem;
	color: #fff;
}

.f-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 30px;
}

.f-block span {
	position: absolute;
	left: 12px;
	top: -10px;
	background: linear-gradient(#3b3b3b, #373737);
	color: #fff;
	padding: 0 10px;
	font-size: 14px;
}

.f-block.inp-text input {
	background: #373737;
	display: block;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #474747;
	padding: 15px 20px;
	color: #eee;
}
.f-block.inp-text input:focus {
	outline: 1px solid #575757;
}

/* aeaeae */
.f-block.inp-text input::placeholder {
	color: #aeaeae;
	font-size: 16px;
}

.f-block.inp-text input.error,
.main-info.error,
#instruments.error
{
	border-color: #e3342f;
}

.instr label {
	cursor: pointer;
}

.checkbox-confirm {
	margin: 30px 0 10px;
	position: relative;
}
.checkbox {
	display: none;}

.checkbox + label:before {
	content: "\00a0";
	border: 1px solid #aeaeae;
	border-radius: 2px;
	display: inline-block;
	font-size: 14px;
	position: relative;
	height: 20px;
	bottom: 0;
	top: 3px;
	margin: 0px 0.25em 0 0;
	padding: 0;
	vertical-align: top;
	width: 20px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.checkbox:checked + label:before {
  color: #333;
  content: "\f00c";
  border: 1px solid transparent;
  background: #edbe00;
  text-align: center;
}

.f-inline {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.mus-instr .f-inline {
	background: #373737;
	padding:  20px 10px;
	border: 1px solid #474747;
	align-items: center;
	flex-wrap: wrap;
}


.mus-instr .f-inline .instr label {
	background: #4d4730;
	color: #edbe00;
	font-size: 12px;
	padding: 7px 11px;
	border-radius: 15px;
	margin-left: 8px;
	margin-bottom: 0;
}
.mus-instr .f-inline .instr:first-child label {
	margin-left: 0;
}

.mus-instr .f-inline .instr label.checked {
	background: #edbe00;
	color: #333;
}

.instr {
	margin: 5px 2px;
}

.instr img {
	object-fit: contain;
	position: relative;
	width: 15px;
	filter: opacity(0.9) invert(100%) drop-shadow(-1px 0px 1px #edbe00);
	-webkit-filter: opacity(0.9) invert(100%) drop-shadow(-1px 0px 1px #edbe00);
}

.mus-instr .f-inline .instr label.checked img {
	filter: opacity(0.9) invert(1%) drop-shadow(-1px 0px 1px #edbe00);
	-webkit-filter: opacity(0.9) invert(1%) drop-shadow(-1px 0px 1px #edbe00);
}

..5sr {
	font-size: .8rem;
	color: #afafaf;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 25px 0 15px;
}
..5sr ..5s {
	color: #fff;
}

.form-btn {
	width: 100%;
	background: #edbe00;
	border: none;
	text-transform: uppercase;
	padding: 15px;
	border-radius: 4px;
	font-size: 0.93rem;
	font-weight: 600;
}
.notific {
	visibility: hidden;
}

#buy-month-label {
	cursor: pointer;
}

#buy-month:checked ~ .notific {
	position: absolute;
	color: #aeaeae;
	font-size: 13px;
	visibility: visible;
}
.checkbox-confirm .notific {
	right: 0;
}

.info-order {
	margin-top: 30px;
	position: relative;
}

.main-info {
	padding: 20px 0 ;
	color: #fff;
	border-top: 1px solid #474747;
	border-bottom: 1px solid #474747;
}
.main-info header {
	font-size: 1.15rem;
	font-weight: 600;
	margin-bottom: 20px;
}
.main-info table td:first-child {
	padding-right: 25px;
	color: #acacac;
}
.main-info table td {
	font-size: 0.9rem;
}

.total-amount {
	padding-top: 10px;
	color: #fff;
}

.total-amount table td:first-child {
	padding-right: 15px;
}

.amount {
	color: #edbe00;
}
.control {
	text-align: right;
	margin-top: 10px;
}
.control > * {
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 13px;
}
.control > *:first-child {
	color: #acacac;
	margin-right: 5px;
}
.control > *:hover {
	text-decoration: none;
	color: #333;
}

.addition {
    position: absolute;
    top: -10px;
    right: 0;
    color: #fff;
}

@media screen and (max-width: 425px) {
	.addition {
		position: relative;
		top: 0;
		margin: 10px 0;
	}
}

#add-info {
	background: #373737;
	width: 100%;
	border: none;
	height: 100%;
	color: #fff;
	max-height: calc(300px - 32px);
}

#order-modal .modal-dialog {
	max-width: 650px;
}
#order-modal .modal-body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#order-modal .modal-body > button {
	position: absolute;
	right: 25px;
	top: 25px;
}
#order-modal .modal-body > *:not(button) {
	padding: 20px 0;
}
#order-modal header {
	margin-bottom: 20px;
	color: #000;
}
#order-modal header h3{
	font-weight: 900;
}
#order-modal header b {
	color: #aeaeae;
	font-weight: 600;
	font-size: 0.9rem;
}
#order-modal .modal-.5s {
	margin: 1rem 0;
}
#order-modal .modal-.5s > * {
	font-size: 2.5rem;
	font-weight: 900;	
}

#order-modal .order button {
	padding: 17px 25px;
	font-size: 1rem;
	letter-spacing: 1px;
	color: #333;
	box-shadow: 0 2px 7px -2px #333;
}
#component button.self{
	border:none;
	outline: none;
	background:none;
	box-shadow: none
}

.row.table > div:first-child {
	background: #edbe00;
	box-shadow: 0 0 4px 0 #edbe00;
}

.row.table .row {
	padding: 10px 2px;
}

.row.table .schedules .row{
	visibility: hidden;
	position: relative;
	height: 0px;
	-webkit-transition: height .3s;
	-moz-transition: height .3s;
	-ms-transition: height .3s;
	-o-transition: height .3s;
	transition: height .3s;
	padding: 0;
	background: #333;
	border-top: 1px solid #edbe00;
}
.row.table .schedules.show .row:first-child{
	margin-top: 15px;
	border-top: none;
	height: 100%;
}

.row.table .schedules.show .list .row {
	visibility: visible;
	height: 60px;
	padding: 10px 2px;
}

.row.table > div:last-child > .row:nth-child(odd) {
	background: #474747;
}

.orders_today{
	visibility: hidden;
}

.orders_today[data-count-orders=true]{
	visibility: visible;
	background: #0bb732;
	/* font-size: 10px; */
	border-radius: 5px;
	padding: 2px 6px;
	position: absolute;
	right: 8px;
	bottom: 10px;
}

@media screen and (min-width: 768px){
	.orders_today[data-count-orders=true]{
		font-size: 1.3em;
		padding: 4px 8px;
	}
}

div#warning {
	display: flex;
	position: fixed;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 10px;
	z-index: 11;
}

#dashboard, #orders-list {
	position: relative;
	right: 0;
	left: 0;
}

#dashboard {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1;
}

#dashboard.hide-to-left {
	opacity: 1;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	overflow: visible;
}

#orders-list {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	position: absolute;
	top: 0;
}

#orders-list.hide-to-left {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 1;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}
