<template>
    <div class="myCalendar">
        <div class="ic__container">
            <div class="ic__header">
                <div v-if="!cart.reservation" class="ic__prev back" @click="Prev()"><i class="fas fa-chevron-left"></i>{{ prevMonth.format('MMMM') }}</div>
                <div v-if="!cart.reservation" class="ic__next next" @click="Next()">{{ nextMonth.format('MMMM') }}<i class="fas fa-chevron-right"></i></div>
                <div class="ic__title"><span class="month">{{ month }}</span><span class="year">{{ year }}</span></div>
                <div class="ic__title"><span class="month"></span><span class="year"></span></div>
            </div>
            <table class="ic__week-head">
                <tbody>
                <tr>
                    <td v-for="item in HeadWeek()">{{ item }}</td>
                </tr>
                </tbody>
            </table>
            <table class="ic__days">
                <tbody>
                <tr v-for="week in calendar">
                    <td  :class="day.status" v-for="(day, index) in week" :key="index">
                        <span v-if="day.show"
                              @click="OpenModalRecord(day, index, $event)"
                              :class="{
                                'num': true,
                                'btn-outline-success':day.choose === true,
                                'btn':day.choose === true
                                }">{{ day.day }}</span>

                        <span v-else class="num" :class="{'btn-outline-success':day.choose === true}">{{ day.day }}</span>
                        <span v-if="day['hours'].length" class="orders_today" data-count-orders="true">{{ day['hours'].length }}</span>
                        <modal-record v-if="modal.show && modal_id == day.day && modal_index == index"
                                      :date="modal.date"
                                      :key="index"
                                      :cart="cart"
                                      :schedules="schedules"
                                      @close="CloseModalRecord(day)"
                                      @schedule-add="ScheduleAdd($event)"
                                      @error="Error($event)"
                                      :hours="modal.hours"
                                      :is_admin="is_admin"
                                      @show-orders="$emit('show-orders', modal.date)"
                                      @hide-orders="$emit('hide-orders')"
                                      :_style="modal.style"
                        ></modal-record>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>

    import ModalRecord from './ModalRecord.vue'

    export default  {
        components: {
          'modal-record': ModalRecord
        },
        props:{
            cart: Object,
            is_admin: Boolean
        },
        data() {
            return {
                calendar: [],

                local: moment().locale('ru', { week: {
                        dow: 1,
                        doy: 6
                    }}),

                timeNowLocal: '',
                timeNow: '',

                timeForWork: '',
                weekFirstDay: '',
                weekLastDay: '',
                monthLastDay: '',

                tempYears: '',
                toYear: '',
                fromYear: '',

                year: '',
                month: '',
                week_of_month: [],
                dates: [],
                first: [],
                month_time: [],
                week_count: 0,
                week_edit: false,

                nextMonth: '',
                prevMonth: '',
                days: {},

                day: '',
                modal_id: '',
                modal_index: '',
                modal: {
                    show: false,
                    date: '',
                    hours: [],
                    style: {
                        top: 0,
                        left: 0
                    }
                },

                orders: [],
                schedules: {},

                // include audio notification
                sound_path: '/public/lib/ion.sound/sounds/'

            }
        },
        watch:{
            'cart.order.category_id': function(val, old) {
                this.week_count = 0
                this.month_time = []
                this.dates = []
                this.UpdateCalendar()
            },
            'cart.reservation': function(val, old) {
                console.log('reservation')
                this.week_count = 0
                this.dates = []
                if(val){
                    this.timeNowLocal = moment(this.local)
                    this.Next()
                }else{
                    this.Prev()
                }
            },
            'cart.selectMonth': function(val, old){

                if(old != ''){
                    window.Echo.leaveChannel('calendar.'+old)
                }
                console.log(val)
                window.Echo.channel('calendar.'+val)
                    .listen('DashboardEvent', (response) => {
                        console.log('DashboardEvent',response)
                        this.schedules = response.data.schedules
                        this.DaysWeek
                    });
            }
        },
        created(){
            window.Echo.channel('calendar.'+this.cart.selectMonth)
                .listen('DashboardEvent', (response) => {
                    console.log('DashboardEvent',response)
                    this.schedules = response.data.schedules
                    this.DaysWeek
                });

            this.timeNow = moment().locale('ru')
            this.timeNowLocal = moment(this.timeNow)
            this.UpdateCalendar()

        },
        mounted(){
            this.GetOrders()
        },
        methods: {
            Error(e){
              this.$emit('error', {
                  status: true,
                  text: e.text
              })
            },
            UpdateCalendar() {
                this.modal.show = false


                this.weekFirstDay = parseInt(moment(this.timeNowLocal).startOf("month").format("d"));
                this.weekLastDay = parseInt(moment(this.timeNowLocal).endOf("month").format("d"));

                this.year = moment(this.timeNowLocal).format('YYYY');
                this.month = moment(this.timeNowLocal).format('MMMM');
                this.cart.selectMonth = moment(this.timeNowLocal).format('YYYY-MM')

                this.timeForWork = moment(this.timeNowLocal);

                this.nextMonth = moment(this.timeNowLocal).add('month',1);
                this.prevMonth = moment(this.timeNowLocal).subtract('month', 1);

                // this.monthLastDay = parseInt(this.timeNowLocal.endOf("month").format("D"));
                this.monthLastDay = parseInt(moment(this.timeNowLocal).subtract('month', 1).endOf("month").format("D"));

                // after select month
                this.DaysWeek
            },
            HeadWeek() {
                let timeForWork = this.timeForWork
                let heads = [];

                if (window.outerWidth < 768) {
                    for (let i = 1; i < 8; i++) {
                        if (i < 7) {
                            heads.push(timeForWork.day(i).format("dd"))
                        } else {
                            heads.push(timeForWork.day(0).format("dd"))
                        }
                    }
                } else {
                    for (let i = 1; i < 8; i++) {
                        if (i <= 7) {
                            heads.push(timeForWork.day(i).format("dddd"))
                        } else {
                            heads.push(timeForWork.day(0).format("dddd"))
                        }
                    }
                }

                return heads
            },
            Next(){
                let _new = moment(this.timeNowLocal).add('month', 1).date(1)
                if(_new.unix() === moment(this.timeNow).date(1).unix()){
                    _new = moment(this.timeNow)
                }
                this.timeNowLocal = _new
                this.week_of_month = []

                this.UpdateCalendar()
            },
            Prev(){
                let _new = moment(this.timeNowLocal).subtract('month', 1).date(1)
                if(_new.unix() === moment(this.timeNow).date(1).unix()){
                    _new = moment(this.timeNow)
                }
                this.timeNowLocal = _new
                this.week_of_month = []

                this.UpdateCalendar()
            },
            OpenModalRecord(data, index, e){

                if(this.cart.reservation && this.dates.length){
                    this.dates.push(moment(data.date).isoWeek())
                    this.WeekAddCount(moment(data.date).isoWeek())

                    return this.ScheduleAdd({
                        date: data.date,
                        category_id: category.id,
                        hours: this.month_time,
                        day: moment(data.date).day()
                    })
                }

                if(this.cart.order.category_id == '' && !this.is_admin){
                    let text = 'Выберите '
                    for(let name in window.menu){
                        text += window.menu[name]+', '
                    }
                    this.Error({text: text.slice(0,-2)})
                    return false
                }

                this.modal.show = true
                this.modal.date = data.date
                this.modal.hours = data.hours

                this.day = data.day

                this.modal_id = data.day
                this.modal_index = index


            },
            CloseModalRecord(){
                this.modal.show = false
            },
            ScheduleAdd(e){

                if(this.cart.reservation && !this.dates.length){
                    this.month_time = e.hours
                    this.dates.push(moment(e.date).isoWeek())
                    this.WeekAddCount(moment(e.date).isoWeek())
                }

                this.$emit('schedule-add', e)
                this.modal.show = false

                this.DaysWeek
            },
            GetOrders(){
                window.axios.get('api/schedules/' +
                    [
                        this.prevMonth.format('YYYY-MM-DD'),
                        this.nextMonth.format('YYYY-MM-01')
                    ].join('/')
                ).then(response => {
                    this.UpdateOrdersCalendar(response.data)
                })
            },
            UpdateOrdersCalendar(response){
                if(response.alarm && this.is_admin){
                    let audio = new Audio(this.sound_path + 'bell_ring.mp3')
                    audio.play()
                }

                this.orders = response.orders
                this.schedules = response.schedules === null ? {} : response.schedules
                this.DaysWeek
            },
            WeekAddCount(week_number){
                let index = this.week_of_month.indexOf(week_number)
                this.week_count = ++index
                if(this.week_edit){
                    this.week_count = this.week_of_month.length
                    this.week_edit = false
                }
            },
            WeekCountSubstract(date){
                this.week_count = this.week_of_month.indexOf(moment(date).isoWeek())
                this.week_edit = true
            },
        },
        computed: {
            DaysWeek: function () {
                console.log()
                let calendar = []
                let week = []
                let days = 0, last_days, first_day
                let list_days = []

                // calculate first days before month and last after month
                first_day = this.monthLastDay - parseInt(this.weekFirstDay)

                if(parseInt(this.weekFirstDay) > 0){
                    first_day = parseInt(this.weekFirstDay) - 2;
                }
                else{
                    first_day = 5
                }

                for (let i = this.monthLastDay - first_day; i <= this.monthLastDay; i++) {

                    if (Boolean((days / 7) - parseInt(days / 7)) == false) {
                        calendar.push(week)
                        week = []
                    }

                    days++

                    week.push({
                        day: i,
                        status: 'ic__day-empty',
                        hours: [],
                        show: false,
                        choose: false
                    })

                }

                for (let i = 1; i <= this.timeNowLocal.daysInMonth(); i++) {

                    if (Boolean((days / 7) - parseInt(days / 7)) == false) {
                        week.length ? calendar.push(week) : false
                        week = []
                    }

                    days++

                    if(this.timeNowLocal.unix() >= moment(this.timeNow).unix() && (i >= parseInt(this.timeNow.date()) || i >= parseInt(this.timeNowLocal.date())))
                    {

                        let data = {
                            day: i,
                            modal: false,
                            date: moment(this.timeNowLocal).date(i).format('YYYY-MM-DD'),
                            hours: [],
                            choose: false,
                            show: true

                        }

                        let dates = Object.keys(this.cart.schedules)
                        let day = moment(this.timeNowLocal).date(i).day();
                        let w = moment(this.timeNowLocal).date(i).isoWeek();

                        if(this.week_of_month.indexOf(w) === -1){
                            this.week_of_month.push(w)
                        }

                        this.week_of_month.sort()

                        this.first = this.week_of_month.slice(0,2)


                        if(dates.indexOf(data.date) > -1){
                            data.choose = true
                        }

                        if(this.schedules[data.date]){
                            data.hours = this.schedules[data.date]
                        }

                        if(
                            this.is_admin ||
                            typeof category.days[day] !== 'undefined' &&
                            (
                                (this.cart.reservation && (dates.length === 0 && this.first.indexOf(w) > -1 || w == this.week_of_month[this.week_count])) ||
                                !this.cart.reservation
                            )
                        ){
                            data.status = 'ic__day'
                            data.show = true
                        }else{
                            data.status = 'ic__day-empty'
                            data.show = false
                        }

                        if(i === this.day){
                            this.modal.hours = data.hours
                        }

                        week.push(data)
                        list_days.push(data)
                    }
                    else
                    {
                        week.push({
                            day: i,
                            status: 'ic__day-empty',
                            choose: false,
                            hours: []
                        })
                    }


                }

                last_days = 41 - parseInt(first_day + this.timeNowLocal.daysInMonth())

                // let lastdays = count_last_day - this.weekLastDay;
                for (let i = 1; i <= last_days; i++) {
                    if (!Boolean((days / 7) - parseInt(days / 7))) {
                        calendar.push(week)
                        week = []
                    }

                    days++

                    week.push({
                        day: i,
                        status: 'ic__day-empty',
                        hours: [],
                        show: false,
                        choose: false
                    })
                }

                calendar.push(week)

                if(this.days.length){
                    // for(let d of list_days){
                    //     d.modal = this.days[d.day].modal
                    // }
                }else{
                    for(let day of list_days){
                        this.days[day.day] = day
                    }
                }


                this.calendar = calendar
            }
        }
    }
</script>

<style scoped>

</style>