<template>

    <section v-if="preloader" class="preloader-wrapper d-flex w-100">
        <div class="preloader">
            <div class="preloader__ring">
                <div class="preloader__sector">L</div>
                <div class="preloader__sector">o</div>
                <div class="preloader__sector">a</div>
                <div class="preloader__sector">d</div>
                <div class="preloader__sector">i</div>
                <div class="preloader__sector">n</div>
                <div class="preloader__sector">g</div>
                <div class="preloader__sector">.</div>
                <div class="preloader__sector">.</div>
                <div class="preloader__sector">.</div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
            </div>
            <div class="preloader__ring">
                <div class="preloader__sector">V</div>
                <div class="preloader__sector">i</div>
                <div class="preloader__sector">p</div>
                <div class="preloader__sector">m</div>
                <div class="preloader__sector">u</div>
                <div class="preloader__sector">s</div>
                <div class="preloader__sector">i</div>
                <div class="preloader__sector">c</div>
                <div class="preloader__sector">.</div>
                <div class="preloader__sector">.</div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
                <div class="preloader__sector"></div>
            </div>
        </div>
    </section>
    <section v-else-if="is_worked === true" class="main" :class="{'main-fade': is_worked}">


        <div id="dashboard" class="container" :class="{'hide-to-left': !show_orders}">

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <ul class="menu">
                        <div v-if="mobile">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        :style="{'min-width': button_menu_width + 'px'}" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    {{text_menu}}
                                </button>
                                <div class="dropdown-menu" id="dropdownMenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" v-for="item in menu" :key="menu.type"
                                       @click="changeCategory(item.value)"
                                       :class="{'active': cart.order.category_id == item.value }">{{ item.name }}</a>
                                </div>
                            </div>
                        </div>
                        <li v-else v-for="item in menu" @click="changeCategory(item.value)"
                            :class="{'active': cart.order.category_id == item.value || category.parent_id == item.value }">
                            {{ item.name }}
                        </li>
                        <li class="about"><a href="/about">о нас</a></li>
                    </ul>
                </div>
            </div>

            <div v-if="category" class="row">

                <div class="col-sm-8 col-xs-12">

                    <article class="ic__container">
                        <!--<calendar-->
                        <!--@error="Error($event)"-->
                        <!--@schedule-add="ScheduleAdd($event)"-->
                        <!--:cart="cart"-->
                        <!--:is_admin="is_admin"-->
                        <!--@show-orders="ShowOrders($event)"-->
                        <!--@hide-orders="HideOrders()"-->
                        <!--ref="CalendarComponent"-->
                        <!--&gt;</calendar>-->
                        <calendar-select v-if="!cart.reservation"
                                         :cart="cart"
                                         :category="category"
                                         :schedules="schedules"
                                         :selected="selected"
                                         @schedule="AddSchedule($event)"
                                         @select-month="SelectMonth($event)"
                                         ref="CalendarSelect"
                                         @error="Error($event)"
                                         :is_admin="is_admin"></calendar-select>

                    </article>

                    <div class="row">
                        <dashboard-orders
                                :schedules="cart.schedules"
                                :cart="cart"
                                :month="isMonth"
                                @error="Error($event)"
                                :is_admin="is_admin"
                                @show-orders="ShowOrders()"
                                @hide-orders="HideOrders()"
                                @schedule="AddSchedule($event)"
                                @delete-schedule="DeleteSchedules($event)"
                        ></dashboard-orders>

                        <article class="info-order col-sm-5 col" v-if="sub_menu.length">
                            <div class="text-right text-white " v-for="child in sub_menu">
                                <input type="checkbox" :id="'child-'+child.id" @change="changeChildCategory(child.id)"
                                       class="child-checkbox checkbox">
                                <label :for="'child-'+child.id">
                                    {{ child.name }}
                                </label>
                            </div>
                        </article>
                    </div>

                </div>

                <div class="col-sm-4 col-xs-12">

                    <article class="form">
                        <form class="form" method="post" @submit.prevent="MakeOrder">
                            <header>
                                <h4>Оформление заказа</h4>
                            </header>

                            <div class="f-group">
                                <label class="f-block inp-text" :class="{error: this.errors.name}">
									<span>
										Имя
									</span>
                                    <input type="text" class="full_name" v-model="cart.order.name"
                                           placeholder="Введите выше имя" name="name" required>
                                </label>

                                <label class="f-block inp-text">
									<span>
										Название группы
									</span>
                                    <input type="text" class="group_name" v-model="cart.order.band"
                                           placeholder="Введите название вашей группы" name="band">
                                </label>

                                <label class="f-block inp-text">
									<span>
										E-Mail
									</span>
                                    <input type="email" class="email" placeholder="Введите ваш E-Mail адрес"
                                           v-model="cart.order.email" required>
                                </label>

                                <label class="f-block inp-text">
                                    <span>Моб. Телефон</span>
                                    <input name="tel" class="phone" type="tel" v-model="cart.order.phone"
                                           placeholder="+380___-__-__ " required>
                                </label>


                                <div class="checkbox-confirm">
                                    <input type="checkbox" name="callback" id="call-back" v-model="cart.order.callback"
                                           class="callback checkbox">
                                    <label for="call-back">
                                        Хочу обратный звонок до оплаты
                                    </label>
                                </div>
                                <div class="mus-instr f-block">
                                    <span>Интсрументы на которых вы играете</span>
                                    <div class="f-inline" id="instruments">
                                        <div class="instr" v-for="(item, index) in instruments">
                                            <label @click="AddInstument(item.id); item.checked = !item.checked"
                                                   :class="{checked: item.checked}">
                                                <img :src="item.img"> {{item.name}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="timer mt-2 mb-2 text-center">
                                    <small>Осталось времени для оплаты:
                                        <span class="time">
                                        <span class="timer-number">
                                            <timer :timeout="cart.order.timeout"></timer>
                                        </span> мин</span>
                                    </small>
                                </div>
                                <div class="order">
                                    <button type="submit" class="form-btn">
                                        Забронировать и оплатить
                                    </button>
                                </div>

                                <div class="checkbox-confirm confirm-month" v-if="category.reservations.length"
                                     v-for="reservation in category.reservations">
                                    <input @click="ReservationEnable()" type="checkbox" name="buy_month" id="buy-month"
                                           class="checkbox">
                                    <label for="buy-month" id="buy-month-label">
                                        {{ reservation.name }}
                                    </label>
                                    <span class="notific">Скидка - {{ reservation.value }}% </span>
                                </div>

                            </div>

                        </form>

                    </article>

                </div>

            </div>
            <div id="form-send" class="d-none"></div>

        </div>

        <div v-if="show_orders" id="orders-list" class="container" :class="{'hide-to-left': show_orders}">

            <orders-show :date="select_date"
                         @hide="HideOrders()">
            </orders-show>

        </div>

        <button type="button" class="btn btn-primary d-none" id="modal-huck" data-toggle="modal"
                data-target="#free-place-modal">
            Launch demo modal
        </button>

        <div class="modal fade" id="free-place-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title mb-3">
                            <h3 class="text-center">Даты и Время которые уже заняты</h3>
                        </div>
                        <table class="table" id="free-place">
                            <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Время</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2019-12-18</td>
                                <td>16:00</td>
                                <td>занято</td>
                            </tr>
                            <tr>
                                <td>2019-12-18</td>
                                <td>16:00</td>
                                <td>занято</td>
                            </tr>
                            <tr>
                                <td>2019-12-18</td>
                                <td>16:00</td>
                                <td class=".text-danger">занято</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-info"><em>Выберите "заказать обратный звонок" <br>
                            чтоб выбрать удобное для вас время например: 2019-12-18 17:00</em></p>
                    </div>

                    <div class="modal-footer">
                        <button id="confirm-free-place" type="button" class="btn btn-outline-info btn-block"
                                data-dismiss="modal">Я понял
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div v-else-if="is_worked === false" class="d-flex flex-column justify-content-center align-items-center"
         style="min-height: 100vh;">
        <div class="jumbotron main-bg"><h1 class="display-4"><a href="/">
            <img src="/public/img/logo.png" alt="logo">
        </a> Вы запустили сайт!</h1>
            <p class="lead">Отличная работа осталось совсем немного! <br> Вся информация для настройки сайта у
                разрабочика в зашифрованном виде для избежания взлома</p>
            <hr class="my-4">
            <ol>
                <li>Зайдите в админ панель</li>
                <li>Найдите вкладку настройки</li>
                <li>Настройте свой сайт в соотвествии с инструкцией</li>
                <li>Добавьте музыкальные инструменты</li>
                <li>Используйте сайт</li>
            </ol>
        </div>
    </div>

</template>

<script>

    import calendar from './Calandar'
    import calendar_select from './partials/CalendarSelect'
    import calendar_reservation from './calendars/CalandarReservation'
    import OrdersShow from './OrdersShow'
    import Timer from './Timer'

    import './functions/category.js'

    export default {
        components: {
            'Calendar': calendar,
            'calendar-select': calendar_select,
            'calendar-reservation': calendar_reservation,
            'orders-show': OrdersShow,
            'timer': Timer
        },
        props: [
            'is_admin',
            'session_id'
        ],
        data() {
            return {
                is_worked: true,
                preloader: true,

                // categories data
                categories: [],
                category: {
                    reservations: []
                },
                category_tmp: {}, // category id : {schedules}

                text_menu: '',
                text_menu_default: 'Выберите Категорию',
                button_menu_width: 0,

                cart: {
                    id: null,
                    order: {
                        hash: null,
                        category_id: null,
                        name: '',
                        band: '',
                        email: '',
                        phone: '',
                        callback: '',
                        timeout: 0
                    },
                    schedules: {},
                    reservation: null,
                    sale: 0.00,
                    amount: '',
                    instruments: [],
                    date: '',
                    selectMonth: '',

                },


                alert: {
                    status: false,
                    text: '',

                },


                instruments: [],
                isMonth: false,

                /**
                 * menu - is main menu
                 * sub_menu - is children of chosen menu
                 */
                menu: [],
                sub_menu: [],

                // settings: categories,

                errors: {},

                show_orders: false,
                select_date: '',

                mobile: false,

                children: [],
                schedules: {},
                selected: {},

                subscribes: {
                    messages: false
                }

            }
        },
        watch: {
            'cart.order.category_id': function (val) {
                if (this.menu.length) {
                    this.text_menu = this.menu.filter(category => {
                        return category.value == val
                    })

                    this.text_menu = this.text_menu.pop().name
                } else {
                    this.Error("Список категорий еще не готов")
                }
            },
            'cart.selectMonth': function (val, old) {
                if (old != '') {
                    window.Echo.leaveChannel('calendar.' + old)
                }
                window.Echo.channel('calendar.' + val)
                    .listen('DashboardSchedulesEvent', (response) => {
                        console.log('DashboardSchedulesEvent', response)
                        this.ScheduleMerge(response.schedules, 'patch')
                    })
                    .listen('DashboardEvent', (response) => {
                        console.log('DashboardEvent', response)
                        this.ScheduleMerge(response.schedules, 'update')

                    });
                this.GetSchedules()

            },
        },
        beforeCreate() {
            this.preloader = true
        },
        created() {
            this.GetCart()
                .then(() => {

                    if (Object.keys(this.cart.schedules).length) {
                        this.OrderTotal()
                    } else {
                        this.clearTotal()
                    }

                    this.GetCategories()

                    this.GetSchedules()
                })

            this.InstrumentsList

        },
        mounted() {
            window.Echo.channel('calendar.' + this.cart.selectMonth)
                .listen('DashboardSchedulesEvent', (response) => {
                    console.log('DashboardSchedulesEvent', response)
                    this.ScheduleMerge(response.schedules, 'patch')
                })
                .listen('DashboardEvent', (response) => {
                    console.log('DashboardEvent', response)
                    this.ScheduleMerge(response.schedules, 'update')
                });

            Echo.private('user.' + this.session_id)
                .listen('UserMessagesEvent', (e) => {
                    for (let message of e.messages) {
                        this.Error(message, 3000)
                    }
                })
                .listen('UserCartEvent', (e) => {
                    this.SetCartSchedules(e.schedules)
                    this.cart.order = e.order
                })

        },
        computed: {
            InstrumentsList: function () {
                try {
                    let instrumentsList = []
                    instruments.filter(instr => {
                        instr.checked = false
                        instrumentsList.push(instr)
                    })

                    this.instruments = instrumentsList
                } catch (e) {
                    this.instruments = []
                }
            },
        },
        methods: {
            /**
             * The function add to vue cart schedules and
             * @param schedules
             */
            AddSchedule(schedules) {

                this.SetCartSchedules(schedules.select)

                let merge = {}

                for (let date in schedules.select) {
                    merge[date] = {}
                    for (let time of schedules.select[date].hours) {
                        merge[date][time] = {
                            status: 'pending',
                            date: date,
                        }
                    }
                }

                return this.UpdateSchedules(_.clone(this.cart))
                    .then(() => {
                        this.OrderTotal();
                    })

            },

            /**
             * Update Calendar data
             * @param from_date
             * @param to_date
             */
            GetSchedules(from_date = null, to_date = null) {

                if((from_date && to_date) == null){
                    from_date = moment(this.cart.selectMonth).format("YYYY-MM-01")
                    to_date = moment(this.cart.selectMonth).format("YYYY-MM-31")
                }

                return window.axios.post(`schedule/between/${from_date}/${to_date}`)
                    .then(response => {

                        if (typeof response.data.schedules !== 'undefined' && Object.keys(response.data.schedules).length) {
                            this.schedules = response.data.schedules
                        }
                    })
            },
            /**
             * Request to API with schedules
             * @returns {*}
             * @constructor
             */
            UpdateSchedules() {

                return window.axios.post('dashboard/schedule', this.cart)
                    .then(response => {
                        this.cart.id = response.data.id
                        this.cart.hash = response.data.hash

                    })

            },
            /**
             * Remove from db
             * @param date
             * @constructor
             */
            DeleteSchedules(date = null) {

                if (!date) {
                    return
                }

                window.axios.post('schedule/' + this.cart.id, {_method: "DELETE", date: date}).then(response => {
                    let status = response.data.status
                    if (status === "success") {

                        if (date) {
                            console.log('remove from schedules')
                            this.$delete(this.cart.schedules, date)
                        }

                        this.SendMessage(response.data.message)
                        this.GetCartSchedule()
                        this.OrderTotal()
                    } else {
                        this.Error(response.data.message)
                    }

                })
            },
            SelectMonth(e) {
                this.cart.selectMonth = e
            },


            changeCategory(id) {

                if (this.category.id == id)
                    return

                let c = this.categories.filter(category => {
                    return id === category.id
                })

                this.category = c[0]
                // this.children = this.category.children
                this.GetSubMenu(this.category.id)
                this.cart.order.category_id = this.category.id
                this.isMonth = this.cart.reservation = false
                this.DeleteSchedules()
                this.clearTotal()

                // clear checkbox buy month
                if (this.category.reservations.length) {
                    let buy_month = document.getElementById('buy-month')
                    if (buy_month) {
                        buy_month.checked = false
                    }
                }

                // clear checkbox children
                if (this.category.children.length) {
                    let child_checkboxes = document.getElementsByClassName('child-checkbox')
                    if (child_checkboxes.length) {
                        for (let checkbox of child_checkboxes) {
                            if (checkbox) {
                                checkbox.checked = false
                            }
                        }
                    }
                }

                /**
                 * Get info about category
                 * and calc total
                 */
                this.GetCartSchedule()
                this.OrderTotal()

            },

            changeChildCategory(id) {

                if (this.category.id == id) {
                    document.getElementById('child-' + id).checked = true
                    return
                }


                let c = this.children.filter(category => {
                    return id === category.id
                })


                if (this.category.id === id) {
                    c = this.categories.filter(category => {
                        return c[0].parent_id === category.id
                    })

                    return this.changeCategory(c[0].id)
                }

                this.category = c[0]
                this.cart.order.category_id = this.category.id
                this.cart.reservation = false
                this.clearTotal()
                this.GetCartSchedule()

                if (this.category.reservations.length) {
                    let buy_month = document.getElementById('buy-month')
                    if (buy_month) {
                        buy_month.checked = false
                    }
                }

            },
            AddInstument(time) {
                if (this.cart.instruments.indexOf(time) <= -1) {
                    this.cart.instruments.push(time)
                } else {
                    this.cart.instruments.splice(this.cart.instruments.indexOf(time), 1)
                }
            },
            OrderTotal() {

                if (Object.keys(this.cart.schedules).length <= 0) {
                    this.clearTotal()
                    return
                }

                /**
                 *  Calc total amount all cart by category
                 *  only once category may be calc
                 *  if client chosen  category 1 after else category 2
                 *  then calc will be only category 2
                 *  and date & time category 1 clear from db
                 */
                window.axios.post('order/total', this.cart)
                    .then(response => {
                        this.cart.sale = response.data.sale
                        this.cart.amount = response.data.amount

                        let status = response.data.status

                        switch (status) {
                            case "success":
                                for (let message of response.data.messages) {
                                    this.SendMessage(message)
                                }
                                break;
                            case "error":
                                for (let message of response.data.messages) {
                                    this.Error(message)
                                }
                                break;
                        }
                    })
                    .catch((error) => {
                        this.clearTotal()
                        if (typeof error.response.data.errors !== "undefined") {
                            let data = error.response.data
                            for (let errors in data.errors) {
                                for (let e of data.errors[errors]) {
                                    this.Error(e)
                                }
                            }
                        }
                    })
            },
            clearTotal() {
                this.cart.amount = 0
                this.cart.sale = 0
            },
            ReservationEnable() {
                /**
                 * The function show new calendar
                 * this idea maybe be strange why we show new calendar if we had calendar
                 * but if customer wants to choose otherwise
                 * if customer want choose several days with the same time
                 * then we must show for client calendar with another logic it can be only if we have new calendar
                 */

                this.cart.reservation = this.isMonth = document.getElementById('buy-month').checked

                if (this.isMonth === false) {
                    this.cart.schedules = {};
                    this.clearTotal();
                    return false
                }

                this.clearTotal();
                this.DeleteSchedules();
                this.SendMessage('Вы выбрали бронь на месяц. Выберите дни на следующий месяц', 5000)

            },
            MakeOrder() {
                window.axios.post('order/create', {
                    order: this.order,
                    schedules: this.cart.schedules,
                    instruments: this.cart.instruments
                }).then(response => {
                    if (!this.is_admin) {
                        let form = $('#form-send')
                        form.html(response.data.form)
                        $('#interkassa').submit()
                    }
                })

            },
            ScheduleMerge(schedules, method) {

                if (typeof schedules === 'undefined') {
                    return;
                }

                if (typeof method === 'undefined') {
                    return;
                }

                if (method === 'update') {
                    this.schedules = {}
                }

                // difference object of schedules old and new
                for (let __sh in schedules) {

                    let sh = schedules[__sh]

                    if (typeof this.schedules[__sh] === 'undefined') {
                        this.schedules[__sh] = sh
                    }

                    for (let time in sh) {
                        this.schedules[__sh][time] = sh[time]
                    }
                }

                return true

            },
            SetCartSchedules(e) {

                console.log(e, 'set to cart schedules')
                if (Object.keys(e).length) {
                    this.$set(this.cart,'schedules', e)

                    return this.category_tmp[this.category.id] = e
                }
                this.Error('schedule Пустой')
                return this.cart.schedules

            },
            GetCartSchedule() {
                if (typeof this.category_tmp[this.category.id] !== 'undefined') {
                    this.cart.schedules = this.category_tmp[this.category.id]
                } else {
                    this.cart.schedules = {}
                }
            },
            GetCategories() {
                return window.axios.get('category')
                    .then(response => {
                        if (response.status === 200) {
                            this.categories = response.data.data


                            this.GetMainMenu()

                            let category = this.category

                            // add default value for order type
                            let _category = this.cart.order.category_id !== null ? this.cart.order.category_id : category.id


                            let __child, temp__category;

                            let __category = this.categories.filter(category => {
                                let category_child = category.children.filter(child => {
                                    return child.id === _category
                                });

                                if (category_child !== '' && typeof category_child !== 'undefined') {
                                    temp__category = category;
                                    __child = category_child
                                }

                                return _category === category.id
                            });

                            if (typeof __category === 'undefined' || __category === '') {
                                __child[0].children = temp__category.children;
                                __category = __child;
                                let app = this;
                                setTimeout(function () {
                                    // clear checkbox children
                                    let child_checkboxes = document.getElementsByClassName('child-checkbox')
                                    if (child_checkboxes.length) {
                                        for (let checkbox of child_checkboxes) {
                                            if (typeof checkbox.id.split('-')[1] !== 'undefined' && checkbox.id.split('-')[1] == app.category.id) {
                                                checkbox.checked = true
                                            }
                                        }
                                    }
                                }, 300)
                            }

                            this.category = category = __category[0]
                            this.children = category.children
                            this.cart.order.category_id = category.id

                            if (this.mobile) {
                                this.button_menu_width += document.getElementById('dropdownMenu').offsetWidth
                            }

                            return true

                        } else {
                            return false;
                        }
                    })
                    .then(result => {
                        if (result) {
                            this.preloader = false
                        }
                    })
                    .catch(error => {
                        console.error(error)
                    })
            },
            GetCart() {
                return window.axios.get('customer/cart')
                    .then(response => {
                        if (response.status === 200) {
                            let cart = response.data.data
                            if (Object.keys(cart).length) {
                                this.cart = cart
                            }
                        }

                    })
                    .catch(error => {
                        console.error(error)
                    })
            },
            GetMainMenu() {

                if (window.innerWidth < 768) this.mobile = true;

                this.text_menu = this.text_menu_default;


                for (this.category of this.categories) {
                    if (this.category.parent_id <= 0) {
                        this.menu.push({
                            name: this.category.name,
                            value: this.category.id
                        });
                    }
                }
            },
            GetSubMenu(category_id) {
                this.sub_menu = this.categories.filter(category => {
                    return category.parent === category_id
                })
            },

            /**
             * Administrator functions
             * @param e
             * @constructor
             */
            ShowOrders(e) {
                this.select_date = e
                this.show_orders = !this.show_orders
            },
            HideOrders() {
                this.show_orders = false
            }
        }
    }
</script>

<style>

    #dropdownMenuButton {
        min-width: 0px;
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        color: #edbe00;
        box-shadow: none;
        outline: none;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 0;
    }

    @media screen and (max-width: 425px) {
        #dropdownMenuButton {
            font-size: 14px;
        }
    }


    div#dropdownMenu {
        background: #333;
    }

    #dropdownMenu .dropdown-item {
        color: #edbe00;
    }

    #dropdownMenu .dropdown-item.active, #dropdownMenu .dropdown-item:hover, #dropdownMenu .dropdown-item:active {
        background: #edbe00;
        color: #333;

    }

    .mx-btn-icon-double-left,
    .mx-btn-icon-double-right {
        display: none;
    }

    .mx-calendar-content table {
        width: 100%;
        border: 0;
        border-collapse: collapse !important;
        border-spacing: 0 !important;
    }

    table.mx-table.mx-table-date thead th {
        border-radius: 5px;
        background: #443f28;
        color: #edbe00;
        font-size: 10px;
        padding: 15px 10px;
        font-family: Roboto;
        border-left: 4px solid #2d2d2d;
    }

    table.mx-table.mx-table-date tbody td {
        width: 14%;
        vertical-align: top;
        text-align: center;
        padding: 30px 0;
        border: 1px solid #2d2d2d;
        color: #fff;
        font-size: 9px;
        line-height: 1.333;
        border-radius: 5px;
        text-transform: uppercase;
        position: relative;
        background: #474747;
        cursor: pointer;
    }

    table.mx-table.mx-table-date tbody td::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f107';
        font-size: 14px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #edbe00;
    }

    table.mx-table.mx-table-date tbody td.disabled {
        background: #474747;
        opacity: 0.4;
    }

    table.mx-table.mx-table-date tbody td > div {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 14px;
    }

    table.mx-table.mx-table-date tbody td:hover {
        background: #565656;
        color: #fff;
    }
</style>

<style lang="sass">
    $ringRadius: 7rem
    $ringSectors: 30
    $animDuration: 8s

    .preloader-wrapper *
        border: 0
        box-sizing: border-box
        margin: 0
        padding: 0

    .preloader-wrapper *
        font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320))

    .preloader-wrapper, .preloader
        display: flex

    .preloader-wrapper
        background: #000
        color: #edbe00
        font: 1em Dosis, sans-serif
        height: 100vh
        line-height: 1.5
        perspective: 40em

    .preloader
        animation: tiltSpin $animDuration linear infinite
        flex-direction: column
        justify-content: center
        align-items: center
        margin: auto
        width: 17em
        height: 17em

        &, &__ring
            transform-style: preserve-3d

        &__ring
            animation:
                name: spin
                duration: $animDuration/2
                timing-function: inherit
                iteration-count: inherit
            font-size: 2em
            position: relative
            height: 3rem
            width: 1.5rem

            &:nth-child(even)
                animation-direction: reverse

        &__sector
            font-weight: 600
            position: absolute
            top: 0
            left: 0
            text-align: center
            text-transform: uppercase
            transform: translateZ($ringRadius)

            &, &:empty:before
                display: inline-block
                width: 100%
                height: 100%

            &:empty:before
                background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%)
                content: ""

            @for $s from 2 through $ringSectors
                &:nth-child(#{$s})
                    $angle: (360deg / $ringSectors) * ($s - 1)
                    transform: rotateY($angle) translateZ($ringRadius)

    /* Animations */
    @keyframes tiltSpin
        from
            transform: rotateY(0) rotateX(30deg)
        to
            transform: rotateY(1turn) rotateX(30deg)

    @keyframes spin
        from
            transform: rotateY(0)
        to
            transform: rotateY(1turn)
</style>