<template>
    <article class="info-order col-sm-7 col">

        <div class="main-info">
            <header>Информация о заказе</header>

            <div class="row">
                <div class="col-sm-12" v-if="Object.keys(CartSchedules).length"
                     v-for="(schedule, index) in CartSchedules">
                    <div class="row d-flex flex-row justify-content-center align-items-center">

                        <div class="col-10">
                            <div class="row order-date">
                                <div class="col-7">Желаемая дата:</div>
                                <div class="col-4">{{ schedule.date }}</div>
                            </div>
                            <div class="row order-time">
                                <div class="col-8">Забронированные часы:</div>
                                <div class="col-3">
                                    {{ schedule.hours[0] }} - {{ schedule.hours[schedule.hours.length - 1]}}
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <a class="btn btn-warning btn-sm" @click="DeleteSchedule(schedule.date)">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>

                    </div>

                    <hr>
                </div>
                <div class="col-sm-12" v-else>
                    <div class="row order-date">
                        <div class="col-4">Желаемая дата:</div>
                        <div class="col-3">-</div>
                    </div>
                    <div class="row order-time">
                        <div class="col-4">Забронированные часы:</div>
                        <div class="col-3">
                            <ul style="padding: 0;list-style-type: none;">
                                <li>-</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row order-price">
                <div class="col-4">Всего:</div>
                <div class="col-3">{{ cart.amount ? cart.amount : 0 }} ₴</div>
            </div>
            <div class="row order-price main-color" v-if="sale">
                <div class="col-4">Скидка:</div>
                <div class="col-3">- {{ amountSale }}%</div>
            </div>
        </div>

        <div class="total-amount">
            <table>
                <tbody>
                <tr>
                    <td>Всего к оплате:</td>
                    <td><span class="amount">{{ amountOrder }} ₴</span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </article>

</template>

<script>

    export default {
        props: ['schedules', 'cart', 'month', 'type', 'is_admin'],
        data() {
            return {
                percent: 0,
                sale: false,
            }
        },
        methods: {
            DeleteSchedule(date) {

                if(!date){
                    this.Error('schedule id не передан')
                    return
                }

                this.$emit('delete-schedule', date)
            }
        },
        computed: {
            amountOrder: function () {
                this.sale = this.cart.sale > 0 ? true : false

                if (this.sale) {
                    return this.cart.sale
                } else {
                    return this.cart.amount

                }
            },
            amountSale: function () {
                let sale = (1 - (this.cart.sale / this.cart.amount)) * 100
                return sale.toFixed(2)
            },
            CartSchedules() {
                return this.cart.schedules
            }
        }
    }
</script>