<template>
    <div id="component">
        <header>
            <div class="row">
                <div class="col">
                    {{ title }}
                </div>
                <div class="col-6 d-flex justify-content-end mr-3" :class="{
                            'text-danger': data.hours.length < category.min_hour,
                            'text-success': data.hours.length >= category.min_hour
                            }">
                    мин часов {{ category.min_hour }}
                </div>
            </div>
        </header>
        <div id="tab_wrapper" class="dataTables_wrapper no-footer"><table id="tab" class="dataTable no-footer" role="grid">
            <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
            </tr>
            </thead>
            <tbody>
            <tr id="1" role="row" class="odd" v-for="(hour, index) of timeList">
                <td><span class=" hours main-color" :class="{ 'text-success': !hour.status, 'text-danger': hour.status === null }">{{ hour.hours }}:00 - {{ parseInt(hour.hours) +1 }}:00</span></td>
                <td><span class="price main-color" :class="{ 'text-success': !hour.status, 'text-danger': hour.status === null }">{{ hour.price }} ₴</span></td>
                <td v-if="hour.status === true">доступно</td>
                <td v-if="hour.status === false">Выбрано</td>
                <td v-if="hour.status === null">Не доступно</td>
                <td v-if="hour.status === 'booking'">Ожидается</td>
                <td v-if="hour.status === 'disable'"></td>

                <td v-if="typeof hour.status === 'boolean'" class="main-color text-input" :class="{ 'text-success': !hour.status }" @click="AddTime(hour, index)">
                    выбрать
                </td>
                <td v-else class="main-color text-input">
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="control">
            <button v-if="is_admin" class="btn btn-primary text-white" @click="$emit('show-orders')">показать ордера</button>
            <button id="resetBooking" class="self" @click="$emit('close')">отмена</button>
            <button id="confirmBooking" class="self" @click="MakeDateOrder()">готово</button>
        </div>
    </div>
</template>

<script>
    export default {
        props:['date','cart',
        'hours','schedules','is_admin','_style'],
        data(){
            return {
                title: '',
                data: {
                    date: '',
                    hours: []
                },
                cost: '',
                day: null,
                times: [],
                category: category,
                booking: []
            }
        },
        created() {
            this.title = moment(this.date).locale('ru').format('DD MMMM YYYY')
            this.data.date = moment(this.date).locale('ru').format('YYYY-MM-DD')
            if(typeof this.schedules[this.data.date] !== 'undefined'){
                this.booking = this.schedules[this.data.date]
            }
            this.day = moment(this.data.date).day()
        },
        methods: {
            AddTime(hour, index){

                this.times[index].status = !this.times[index].status

                if(this.data.hours.indexOf(hour.hours) > -1){
                    this.data.hours.splice(this.data.hours.indexOf(hour.hours), 1)
                }else{
                    this.data.hours.push(hour.hours)
                }

                if(!this.data.hours.length){

                    for(let t in this.times){
                        this.times[t].status = true
                    }

                    return false
                }

                this.data.hours = this.data.hours.sort()

                for(let t in this.times)
                {
                    if(this.data.hours.indexOf(this.times[t].hours) > -1){
                        this.times[t].status = false
                    }else if(this.booking.indexOf(this.times[t].hours) === -1){
                        this.times[t].status = 'disable'
                    }
                }


                for(let t in this.times)
                {
                    let index = Number(t),
                        num = Number(1)

                    if(this.times[index].status ===  false){

                        if(typeof this.times[index - num] !== 'undefined' && this.times[index - num].status === 'disable'){
                            this.times[index - num].status = true
                        }

                        if(typeof this.times[index + num] !== 'undefined' && this.times[index + num].status === 'disable'){
                            this.times[index + num].status = true
                        }

                    }

                }

            },
            MakeDateOrder(){

                if(this.cart.order.category_id === '' ){
                    let text = 'Выберите '
                    for(let name in window.menu){
                        text += window.menu[name]+', '
                    }

                    this.$emit('error', {
                        text: text.slice(0,-2)
                    })
                    return false
                }

                if(this.data.hours.length === 0){
                    this.$emit('error', {
                        text: 'Вы не выбрали вермя'
                    })
                    return false
                }

                if(parseInt(category.min_hour) > this.data.hours.length){
                    this.$emit('error', {
                        text: 'Вам нужно выбрать минимум '+ category.min_hour + ' часа для ' + category.name
                    })
                    return false
                }

                if(this.data.date.length == ''){
                    this.$emit('error', {
                        text: 'Вы не дату'
                    })
                    return false
                }

                this.$emit('schedule-add', {
                    date: this.data.date,
                    hours: this.data.hours,
                    day: this.day,
                    category_id: category.id
                })

            },
        },
        computed: {
            timeList: function () {
                // let start = parseInt(settings.start_work),
                //     finish =parseInt(settings.finish_work)
                this.times = []
                for(let hour of category.days[this.day]) {
                    if(this.booking.indexOf(hour.hour) > -1){
                        this.times.push({
                            hours: hour.hour,
                            price: hour.price,
                            status: 'booking',
                            message: ''
                        })
                    }else{
                        this.times.push({
                            hours: hour.hour,
                            price: hour.price,
                            status: true,
                            message: ''
                        })
                    }
                }
                return this.times
            }
        }
    }
</script>

<style scoped>

</style>