<template>
    <tr>
        <td>{{ schedule.start }}</td>
        <td>{{ (schedule.start + 1) }}</td>
        <td v-if="!edit" class="text-right">
            <a href="#" @click.prevent="Edit()" class="btn btn-info"><i class="fas fa-wrench"></i></a>
            <a href="#" @click.prevent="DeleteTime(schedule.id)" class="btn btn-danger"><i class="fas fa-times"></i></a>
        </td>
        <td v-if="edit" class="text-right">
            <div class="input-group">

                <select class="form-control" v-model="selectedTime">
                    <option value="">Выбериете время</option>
                    <option :value="time" v-for="time in times">{{time}}</option>
                </select>
                <div class="input-group-append">
                    <div class="btn btn-success" @click="EditTime(schedule.id)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div @click="$emit('edit', null)" class="btn btn-danger"><i class="fas fa-times"></i></div>
                </div>

            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        props: {
            schedule: Object,
            times: Array,
            edit: Boolean,
            order_id: Number
        },
        data(){
          return {
              selectedTime: '',
          }
      },
      methods: {
        Edit(){
            this.$emit('edit', this.schedule.id)
        },
        EditTime(id){
            window.axios.put('/admin/schedules/update', {id: id, time: this.selectedTime, order_id: this.order_id}).then(response => {
                this.$emit('update', response.data)
            })
        },
        DeleteTime(id){
            window.axios.delete('/admin/schedules/destroy', {
                params: {id:id, order_id: this.order_id}
            }).then(response => {
                this.$emit('update', response.data)
            })
        },
    }
}
</script>

<style scoped>

</style>