<template>
    <div class="modal">
        <div class="resource">
            <div class="head">
                <h3 class="text-uppercase">
                    Редактирование ордера
                </h3>

                <button id="close" @click="$emit('close')">Закрыть</button>
            </div>
            <div class="body">
                <div class="col-sm-12 order">
                    <div class="row">

                        <div class="col-sm-6 col" v-for="item in orderParams">

                            <div class="form-group">
                                <label>{{item.title}}</label>
                                <div class="input-group">
                                    <input v-model="order[item.key]" type="text" class="form-control" :placeholder="item.title" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button @click="UpdateOrder(item.key)" class="btn btn-success">Обновить</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 col">

                            <div class="form-group">
                                <label>Тип</label>
                                <div class="input-group">
                                    <select v-model="order.category_id" class="form-control">
                                        <option :value="value" v-for="(name, value) in orderType" :checked="order.category_id === value">{{ name }}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button @click="UpdateOrder('type')" class="btn btn-success">Обновить</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 col">

                            <div class="form-group">
                                <label>Обратный звонок</label>
                                <div class="input-group">
                                    <select v-model="order.callback" class="form-control">
                                        <option :value="1" :checked="order.callback === 1">Вкл</option>
                                        <option :value="0" :checked="order.callback === 0">Выкл</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button @click="UpdateOrder('callback')" class="btn btn-success">Обновить</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12">

                            <div class="row">
                                <div class="col-sm-4" v-for="item in paymentParams">
                                    <div class="form-group">
                                        <label>{{item.title}}</label>
                                        <div class="input-group">
                                            <input v-model="order.payment[item.key]" type="text" class="form-control" :placeholder="item.title" aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button @click="UpdatePaymentOrder(item.key)" class="btn btn-success">Обновить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-12 schedules" :class="'orders-'+order.id">
                    <div class="row">
                        <div class="col-6 list">
                            <p><b>Забронированное Время</b></p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Начало</th>
                                        <th>Конец</th>
                                        <th v-if="!select_time_show" class="text-right">
                                            <a href="#" @click.prevent="GetTime(), select_time_show = true" class="btn btn-success"><i class="fas fa-plus"></i></a>
                                        </th>
                                        <th v-if="select_time_show" class="text-right">

                                            <div class="input-group">
                                                <select class="form-control" v-model="selectedTime">
                                                    <option value="">Выбериете время</option>
                                                    <option :value="time" v-for="time in times">{{ time }}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <div class="btn btn-success" @click="SaveNewTime()">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                    <div @click="select_time_show = false" class="btn btn-danger"><i class="fas fa-times"></i></div>
                                                </div>
                                            </div>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <order-schedule-edit v-for="schedule in schedulesList"
                                    :schedule="schedule"
                                    :key="schedule.id"
                                    @getTime="GetTime()"
                                    :order_id="order.id"
                                    :edit="schedule.edit"
                                    :times="times"
                                    @update="order.schedules = $event, schedulesUpdate()"
                                    @edit="EditSchedule($event)"
                                    ></order-schedule-edit>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-6 list">
                            <p><b>Музыкальные инструменты</b></p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Инструмент</th>
                                        <th></th>
                                        <th v-if="!select_instrument_show" class="text-right">
                                            <a href="#" @click.prevent="GetInstrumetns(), select_instrument_show = true" class="btn btn-success"><i class="fas fa-plus"></i></a>
                                        </th>
                                        <th v-if="select_instrument_show" class="text-right">

                                            <div class="input-group">
                                                <select class="form-control" v-model="selectedInstrument">
                                                    <option value="">Выбериете время</option>
                                                    <option :value="instrument.id" v-for="instrument in instrumentsSelect">{{ instrument.name }}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <div class="btn btn-success" @click="SaveNewInstrument()">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                    <div @click="select_instrument_show = false" class="btn btn-danger"><i class="fas fa-times"></i></div>
                                                </div>
                                            </div>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <order-instruments-edit  v-for="instrument in instrumentsList"
                                                         :instrument="instrument"
                                                         :instruments="instrumentsSelect"
                                                         :key="instrument.instrument_id"
                                                         :order_id="order.id"
                                                         :edit="instrument.edit"
                                                         @getInstruments="GetInstrumetns()"
                                                         @update="order.instruments = $event, schedulesUpdate()"
                                                         @edit="EditInstrumetn($event)"
                                    ></order-instruments-edit>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import OrderScheduleEdit from './OrderScheduleEdit'
    import OrderInstrumentsEdit from './OrderInstrumentsEdit'

    export default {
        props: {
            order: Object
        },
        components: {
          'order-schedule-edit': OrderScheduleEdit,
          'order-instruments-edit': OrderInstrumentsEdit,
      },
      data(){
        return {
            schedules: [],
            instruments: [],
            instrumentsSelect: [],

            select_instrument_show: false,
            selectedInstrument: '',

            times: [],

            selectedTime: '',
            select_time_show: false,
            edit_time_show: [],

            selectInstrument: '',

            date: '',

            orderParams: [
                {title: 'Имя', key: 'name'},
                {title: 'Группа', key: 'group_name'},
                {title: 'Почта', key: 'email'},
                {title: 'Телефон', key: 'phone'},
            ],

            paymentParams: [
                {title: 'Сумма', key: 'amount'},
                {title: 'Скидка', key: 'sale'},
                {title: 'Статус', key: 'status'},
            ],

            orderType: []


        }
    },
    created(){
        this.date = this.order.schedules[0].date
        this.schedulesUpdate()
        this.instrumentsUpdate()
        this.orderType = window.menu
    },
    methods: {
        EditSchedule(e){
            this.GetTime()
            this.schedulesUpdate(e)
        },
        EditInstrumetn(e){
            this.instrumentsUpdate(e)
        },
        GetTime(){
            window.axios.get('/admin/order-time/show', {
                params: {
                    date: this.date
                }
            }).then(response => {
                this.times = response.data
            })
        },
        GetInstrumetns(){
            window.axios.get('/admin/order-instrument', {
                params: {
                    order_id: this.order.id
                }
            }).then(response => {
                this.instrumentsSelect = response.data
            })
        },
        SaveNewTime(){
            window.axios.post('/admin/schedules', {
                id: this.order.id,
                time: this.selectedTime,
                date: this.date
            }).then(response => {
                this.order.schedules = response.data
                this.schedulesUpdate()
                this.select_time_show = false
            })
        },
        SaveNewInstrument(){
            window.axios.post('/admin/order-instrument', {
                id: this.order.id,
                instrument: this.selectedInstrument,
            }).then(response => {
                this.order.instruments = response.data
                this.instrumentsUpdate()
                this.select_instrument_show = false
            })
        },
        schedulesUpdate(key = null){
            this.schedules = []
            this.order.schedules.filter(schedule => {
                if(key !== null){
                    if(schedule.id == key){
                        schedule.edit = true
                    }
                }else{
                    schedule.edit = false
                }
                this.schedules.push(schedule)

            })
        },
        instrumentsUpdate(key = null){
            this.instruments = []
            this.order.instruments.filter(instrument => {
                if(key !== null){
                    if(instrument.instrument_id == key){
                        instrument.edit = true
                    }
                }else{
                    instrument.edit = false
                }
                this.instruments.push(instrument)

            })
        },
        UpdateOrder(param){
            window.axios.put('/admin/order/update', {
                key: param,
                order: this.order
            })
                .then(response => {
                    console.log(response)
                })
        },
        UpdatePaymentOrder(param){
            window.axios.put('/admin/payment/update', {
                key: param,
                order: this.order
            })
                .then(response => {
                    console.log(response)
                })
        }
    },
    computed: {
        schedulesList: function(){
            return _.orderBy(this.schedules, 'start')
        },
        instrumentsList: function(){
            return _.orderBy(this.instruments, 'name')
        }
    }
}
</script>

<style scoped>
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
    color: #fff;
}

.resource {
    width: 75%;
    top: 10px;
    position: absolute;
}

.head {
    background: #eeb20d;
    padding: 10px 20px;
}

.body {
    background: #edbe00;
    padding: 10px;
    border: 1px solid #222;
}

button#close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: 1px solid #333;
}

button#close:hover {
    background: rgba(0,0,0, .3);
}
</style>