<template>
    <tr>
        <td>{{ instrument.instrument.name }}</td>
        <td><img class="order-instrument-img" :src="instrument.instrument.img" :alt="instrument.instrument.name"></td>
        <td v-if="!edit" class="text-right">
            <a href="#" @click.prevent="Edit(instrument.instrument_id)" class="btn btn-info"><i class="fas fa-wrench"></i></a>
            <a href="#" @click.prevent="DeleteInstrument(instrument.instrument_id)" class="btn btn-danger"><i class="fas fa-times"></i></a>
        </td>
        <td v-if="edit" class="text-right">
            <div class="input-group">

                <select class="form-control" v-model="selectedInstrument">
                    <option value="">Выбериете инструмент</option>
                    <option :value="instrument.id" v-for="instrument in instruments">{{instrument.name}}</option>
                </select>

                <div class="input-group-append">
                    <div class="btn btn-success" @click="EditInstrument(instrument.id)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div @click="$emit('edit', null)" class="btn btn-danger"><i class="fas fa-times"></i></div>
                </div>

            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        props: {
            instrument: Object,
            instruments: Array,
            edit: Boolean,
            order_id: Number
        },
        data(){
          return {
              selectedInstrument: '',
          }
      },
      methods: {
        Edit(){
            this.$emit('edit', this.instrument.instrument_id)
            this.$emit('getInstruments',)
        },
        EditInstrument(id){
            window.axios.put('/admin/order-instrument/update', {id: id, time: this.selectedInstrument, order_id: this.order_id}).then(response => {
                this.$emit('update', response.data)
            })
        },
        DeleteInstrument(id){
            window.axios.delete('/admin/order-instrument/destroy', {
                params: {id:id, order_id: this.order_id}
            }).then(response => {
                this.$emit('update', response.data)
            })
        },
    }
}
</script>

<style scoped>
    .order-instrument-img {
        width: 25px;
        object-fit: contain;
    }
</style>