<template>
    <div>
        <div class="row table">
            <div class="col-3 mt-3">
                <div class="btn btn-block main-bg" @click="$emit('hide')"><i class="fas fa-chevron-left"></i> Вернуться</div>
            </div>
        </div>

        <div class="row table text-white mt-3">

            <div class="col-12 text-dark">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2">Имя</div>
                    <div class="col-2">Телефон</div>
                    <div class="col-2">Тип</div>
                    <div class="col-1">Сумма</div>
                    <div class="col-1">Звонок</div>
                    <div class="col"></div>
                </div>
            </div>

            <div class="col-12">
                <div class="row orders d-flex align-items-center" v-for="(order, index) in ordersShowList" :id="'orders-'+ order.id">
                    <div class="col-sm-1" @click="OpenInfo(order)"><i class="fas fa-question-circle"></i></div>
                    <div class="col-sm-2">{{ order.name }}</div>
                    <div class="col-sm-2">{{ order.phone }}</div>
                    <div class="col-sm-2">{{ order.category_id }}</div>
                    <div class="col-sm-1">
                        <span v-if="order.payment.status == 'success'" class="btn btn-outline-success">{{ order.payment.amount }}</span>
                        <span v-else class="btn btn-outline-danger">{{ order.payment.amount }}</span>
                    </div>
                    <div class="col-sm-1 text-center main-color"><i v-if="order.callback" class="fas fa-phone-volume"></i></div>
                    <div class="col">
                        <a class="btn btn-outline-warning" href="#" target="_blank">Изменить данные</a>
                        <a class="btn btn-danger" href="#"><i class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <order-info v-if="open"
                    :order="order"
                    @close="CloseInfo"></order-info>

    </div>
</template>

<script>

    import OpenInfo from './OrderInfo'

    export default {
        props:{
          date: String
        },
        components: {
            'order-info': OpenInfo
        },
        data(){
            return {
                orders: [],
                open: false,
                order: {}
            }
        },
        created() {
            let data = {date: this.date, json: 1}
            window.axios.get('/admin/order/show', {
                params: data
            })
                .then(response => {
                    console.log(response.data)
                    this.orders = response.data
                })
        },
        methods: {
            OpenInfo(order){
                this.order = order
                this.open = true
            },
            CloseInfo(){
                this.open = false
            }
        },
        computed: {
            ordersShowList: function () {
                return this.orders.orders
            }
        }
    }
</script>

<style scoped>

</style>