<template>
    <div>
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-body">
                            <header>18 Ноября 2019</header>

                            <table id="tab" role="grid" class="dataTable no-footer">
                                <thead>
                                <tr role="row">
                                    <th rowspan="1" colspan="1" class="sorting_disabled"></th>
                                    <th rowspan="1" colspan="1" class="sorting_disabled"></th>
                                    <th rowspan="1" colspan="1" class="sorting_disabled"></th>
                                    <th rowspan="1" colspan="1" class="sorting_disabled"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="9" role="row" class="odd" v-for="item in ListTime">
                                    <td><span class=" time main-color">{{ item.start }} - {{ item.finish }}</span></td>
                                    <td><span class="price main-color">{{ cost }} ₴</span></td>
                                    <td v-if="item.status == ''">доступно</td>
                                    <td v-else-if="item.status == 1">Забранировано</td>
                                    <td v-else-if="item.status == 2">Закрыто</td>
                                    <td><label href="#"><span class="main-color text-input">выбрать</span>
                                        <input type="hidden" name="9" value="0"></label></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="control">
                                <button id="resetBooking"  @click="$emit('close')">отмена
                                </button>
                                <button id="confirmBooking"  @click="$emit('close')">готово
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "SelectTimeModal",
        props: {
            data: Object,
            is_admin: Boolean
        },
        data() {
            return {
                ListTime: [],
                cost: 100
            }
        },
        mounted(){
            this.ListTime = this.getTimeList(9, 19)
        },
        methods: {
            getTimeList(start, finish) {
                let time_array = []
                while (start < finish) {
                    time_array.push({start: start, finish: start + 1, status: ''})
                    start++
                }
                return time_array
            }
        }
    }
</script>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>