<template>
    <span>{{ currentTime }}</span>
</template>

<script>
    export default {
        name: "Timer",
        props: [
            'timeout'
        ],
        data() {
            return {
                currentTime: 5,
                timer: null,
            }
        },
        mounted() {
            this.startTimer()
        },
        destroyed() {
            this.stopTimer()
        },
        methods: {
            startTimer() {
                this.timer = setInterval(() => {
                    let date = moment().locale('ru')
                    let now = moment(date)

                    let timeout = moment.unix(this.timeout)

                    // this.currentTime = moment(timeout.diff(now)).format('mm:ss')
                    this.currentTime = moment(timeout.diff(moment())).format('mm:ss')
                }, 1000)
            },
            stopTimer() {
                clearTimeout(this.timer)
            },
        },
        watch: {
            currentTime(time) {
                if (time === 0) {
                    this.stopTimer()
                }
            }
        },
    }
</script>

<style scoped>

</style>