<template>
    <div class="ic__days">
        <slot name="header"
              :month="this.month"
              :next="Next" :prev="Prev"
              :prevMonth="prevMonth"
              :nextMonth="nextMonth"
              :year="year"></slot>
        <slot name="head" :headers="HeadWeek"></slot>
        <slot name="days" :days="all_days"></slot>
    </div>

</template>

<script>

    import ModalRecord from '../ModalRecord.vue'

    export default  {
        components: {
          'modal-record': ModalRecord
        },
        props:[
            'cart',
            'is_admin',
            'schedules',
            'selected',
            'category'
        ],
        data() {
            return {
                days: {},
                all_days: [],
                name_of_days: {},

                local: moment().locale('ru', { week: {
                        dow: 1,
                        doy: 6
                    }}),

                timeNowLocal: '',
                timeNow: '',

                timeForWork: '',
                weekFirstDay: '',
                weekLastDay: '',
                monthLastDay: '',

                tempYears: '',
                toYear: '',
                fromYear: '',

                year: '',
                month: '',

                nextMonth: '',
                prevMonth: '',

                // include audio notification
                sound_path: '/public/lib/ion.sound/sounds/'

            }
        },
        watch: {
            'cart.schedules': function (val) {
                this.UpdateCalendar()
            },
            'schedules': function (val) {
                this.UpdateCalendar()
            },
            'cart.order.category_id': function (val) {
                this.UpdateCalendar()
            },
        },
        created(){

            this.timeNow = moment().locale('ru')
            this.timeNowLocal = moment(this.timeNow)
            this.UpdateCalendar()

        },
        methods: {
            Error(e){
              this.$emit('error', {
                  status: true,
                  text: e.text
              })
            },
            UpdateCalendar(msg = false) {

                this.weekFirstDay = parseInt(moment(this.timeNowLocal).startOf("month").format("d"));
                this.weekLastDay = parseInt(moment(this.timeNowLocal).endOf("month").format("d"));

                this.year = moment(this.timeNowLocal).format('YYYY');
                this.month = moment(this.timeNowLocal).format('MMMM');

                this.timeForWork = moment(this.timeNowLocal);

                this.$emit('select-month', moment(this.timeNowLocal).format('YYYY-MM'))

                this.nextMonth = moment(this.timeNowLocal).add('month',1);
                this.prevMonth = moment(this.timeNowLocal).subtract('month', 1);

                // this.monthLastDay = parseInt(this.timeNowLocal.endOf("month").format("D"));
                this.monthLastDay = parseInt(moment(this.timeNowLocal).subtract('month', 1).endOf("month").format("D"));

                this.Days
            },
            Next(){
                let _new = moment(this.timeNowLocal).add('month', 1).date(1)
                if(_new.unix() === moment(this.timeNow).date(1).unix()){
                    _new = moment(this.timeNow)
                }
                this.timeNowLocal = _new

                this.UpdateCalendar()
            },
            Prev(){
                let _new = moment(this.timeNowLocal).subtract('month', 1).date(1)
                if(_new.unix() === moment(this.timeNow).date(1).unix()){
                    _new = moment(this.timeNow)
                }
                this.timeNowLocal = _new

                this.UpdateCalendar()
            },

        },
        computed: {
            Days: function() {
                let calendar = []
                let week = []
                let days = 0, last_days, first_day
                let list_days = []

                // calculate first days before month and last after month
                first_day = this.monthLastDay - parseInt(this.weekFirstDay)

                if(parseInt(this.weekFirstDay) > 0){
                    first_day = parseInt(this.weekFirstDay) - 2;
                }
                else{
                    first_day = 5
                }

                for (let i = this.monthLastDay - first_day; i <= this.monthLastDay; i++) {

                    if (Boolean((days / 7) - parseInt(days / 7)) == false) {
                        calendar.push(week)
                        week = []
                    }

                    days++

                    week.push({
                        day: i,
                        status: 'ic__day-empty',
                        hours: [],
                        show: false,
                        choose: false
                    })

                }

                for (let i = 1; i <= this.timeNowLocal.daysInMonth(); i++) {

                    if (Boolean((days / 7) - parseInt(days / 7)) == false) {
                        week.length ? calendar.push(week) : false
                        week = []
                    }

                    days++

                    if(this.timeNowLocal.unix() >= moment(this.timeNow).unix() && (i >= parseInt(this.timeNow.date()) || i >= parseInt(this.timeNowLocal.date())))
                    {

                        let data = {
                            day: i,
                            modal: false,
                            date: moment(this.timeNowLocal).date(i).format('YYYY-MM-DD'),
                            hours: [],
                            choose: false,
                            show: true

                        }

                        let dates = Object.keys(this.cart.schedules)
                        let day = moment(this.timeNowLocal).date(i).day();

                        if(dates.indexOf(data.date) > -1){
                            data.choose = true
                        }

                        if(
                            this.is_admin ||
                            typeof this.category.days[day] != 'undefined'
                        ){
                            data.status = 'ic__day'
                            data.show = true
                        }else{
                            data.status = 'ic__day-empty'
                            data.show = false
                        }


                        week.push(data)
                        list_days.push(data)
                    }
                    else
                    {
                        week.push({
                            day: i,
                            status: 'ic__day-empty',
                            choose: false,
                            hours: []
                        })
                    }


                }

                last_days = 41 - parseInt(first_day + this.timeNowLocal.daysInMonth())

                // let lastdays = count_last_day - this.weekLastDay;
                for (let i = 1; i <= last_days; i++) {
                    if (!Boolean((days / 7) - parseInt(days / 7))) {
                        calendar.push(week)
                        week = []
                    }

                    days++

                    week.push({
                        day: i,
                        status: 'ic__day-empty',
                        hours: [],
                        show: false,
                        choose: false
                    })
                }

                calendar.push(week)

                this.all_days = calendar
                return calendar
            },
            HeadWeek() {
                let timeForWork = this.timeForWork
                let heads = [];

                if (window.outerWidth < 768) {
                    for (let i = 1; i < 8; i++) {
                        if (i < 7) {
                            heads.push(timeForWork.day(i).format("dd"))
                        } else {
                            heads.push(timeForWork.day(0).format("dd"))
                        }
                    }
                } else {
                    for (let i = 1; i < 8; i++) {
                        if (i <= 7) {
                            heads.push(timeForWork.day(i).format("dddd"))
                        } else {
                            heads.push(timeForWork.day(0).format("dddd"))
                        }
                    }
                }

                return heads
            },
        }

    }
</script>

<style scoped>

</style>