<template>
    <calendar v-if="!cart.reservation"
              :category="category"
              :cart="cart"
              ref="calendar"
              :schedules="schedules"
              @select-month="SelectMonth($event)"
              :is_admin="is_admin">
        <template v-slot:header="Head">
            <div class="ic__header">
                <div class="ic__prev back" @click="Head.prev()"><i class="fas fa-chevron-left"></i>{{
                    Head.prevMonth.format('MMMM') }}
                </div>
                <div class="ic__next next" @click="Head.next()">{{ Head.nextMonth.format('MMMM') }}<i
                        class="fas fa-chevron-right"></i></div>
                <div class="ic__title"><span class="month">{{ Head.month }}</span><span
                        class="year">{{ Head.year }}</span></div>
                <div class="ic__title"><span class="month"></span><span class="year"></span></div>
            </div>
        </template>
        <template v-slot:head="WeekHead">
            <table class="ic__week-head">
                <tbody>
                <tr>
                    <td v-for="item in WeekHead.headers">{{ item }}</td>
                </tr>
                </tbody>
            </table>
        </template>
        <template v-slot:days="weeks">
            <div class="ic__days container">
                <div class="row" v-for="week in weeks.days">
                    <div class="col td" :class="day.status" v-for="(day, index) in week" :key="index">
                        <span v-if="1"
                              @click="OpenModalRecord(day, index, $event)"
                              :class="{
                                'num': true,
                                'btn-outline-success':day.choose === true,
                                'btn':day.choose === true
                                }">{{ week[index].day }}</span>
                        <span v-else class="num"
                              :class="{'btn-outline-success':day.choose === true}">{{ day.day }}</span>
                        <span v-if="typeof schedules[day.date] !== 'undefined'" class="orders_today"
                              data-count-orders="true">{{ Object.keys(schedules[day.date]).length }}</span>
                        <modal-record v-if="modal.show && modal_id == day.day && modal_index == index && day.show"
                                      :date="day.date"
                                      :cart="cart"
                                      :schedules="schedules"
                                      @schedule="Schedule($event)"
                                      @close="CloseModalRecord(day)"
                                      @error="Error($event)"
                                      :hours="day.hours"
                                      :category="category"
                                      :is_admin="is_admin"
                        ></modal-record>
                    </div>
                </div>
            </div>
        </template>
    </calendar>
</template>

<script>

    import Calendar from '../calendars/Calandar'
    import ModalRecord from './ModalRecord'

    export default {
        name: "CalendarSelect",
        components: {
            'calendar': Calendar,
            'modal-record': ModalRecord
        },
        props: ['cart', 'schedules', 'is_admin', 'category', 'selected'],
        data() {
            return {
                day: '',
                modal_id: '',
                modal_index: '',
                modal: {
                    show: false,
                    date: '',
                    hours: [],
                    style: {
                        top: 0,
                        left: 0
                    }
                },
                days: [],
            }
        },
        methods: {
            /**
             * There are $emit functions
             * @param e
             * @constructor
             */
            Schedule(e) {
                this.$emit('schedule', e)
            },
            Error(e) {
                this.Error(e, 1500)
            },
            SelectMonth(e) {
                this.$emit('select-month', e)
            },
            OpenModalRecord(data, index, e) {

                if (this.cart.order.category_id == '' && !this.is_admin) {
                    let text = 'Выберите '
                    for (let name in window.menu) {
                        text += window.menu[name] + ', '
                    }
                    this.Error({text: text.slice(0, -2)})
                    return false
                }

                this.modal.show = true
                this.modal.date = data.date
                this.modal.hours = data.hours

                this.day = data.day

                this.modal_id = data.day
                this.modal_index = index

            },
            CloseModalRecord() {
                this.modal.show = false
            },
            UpdateCalendar(msg = false){
                this.$refs.calendar.UpdateCalendar(msg)
            }
        },
    }
</script>

<style scoped>

</style>