<template>
    <div id="component">
        <header>
            <div class="row">
                <div class="col">
                    {{ title }}
                </div>
                <div class="col-6 d-flex justify-content-end mr-3" :class="{
                            'text-danger': data.hours.length < category.min_hour,
                            'text-success': data.hours.length >= category.min_hour
                            }">
                    мин часов {{ category.min_hour }}
                </div>
            </div>
        </header>
        <div id="tab_wrapper" class="dataTables_wrapper no-footer">
            <table id="tab" class="dataTable no-footer" role="grid">
                <thead>
                <tr role="row">
                    <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                    <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                    <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                    <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                </tr>
                </thead>
                <tbody>
                <tr id="1" role="row" :key="index" class="odd" v-for="(hour, index) of times">
                    <td><span class=" hours main-color"
                              :class="{ 'text-success': !hour.status, 'text-danger': hour.status === null }">{{ hour.hours }}:00 - {{ parseInt(hour.hours) +1 }}:00</span>
                    </td>
                    <td><span class="price main-color"
                              :class="{ 'text-success': !hour.status, 'text-danger': hour.status === null }">{{ hour.price }} ₴</span>
                    </td>
                    <td v-if="hour.status === true">доступно</td>
                    <td v-if="hour.status === false">Выбрано</td>
                    <td v-if="hour.status === null">Не доступно</td>
                    <td v-if="hour.status === 'booking'">Ожидается</td>
                    <td v-if="hour.status === 'disable'"></td>

                    <td v-if="typeof hour.status === 'boolean'" class="main-color text-input"
                        :class="{ 'text-success': !hour.status }" @click="AddTime(hour, index)">
                        выбрать
                    </td>
                    <td v-else class="main-color text-input">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="control">
            <button v-if="is_admin" class="btn btn-primary text-white" @click="$emit('show-orders')">показать ордера
            </button>
            <button id="resetBooking" class="self" @click="$emit('close')">отмена</button>
            <button id="confirmBooking" class="self" @click="MakeDateOrder()">готово</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['date', 'cart', 'category', 'hours', 'schedules', 'is_admin'],
        data() {
            return {
                title: '',
                data: {
                    date: '',
                    hours: []
                },
                cost: '',
                day: null,
                times: [],
                booking: []
            }
        },
        watch: {
            'schedules': function (val, old) {
                console.log('modal', val)
                if (typeof this.schedules[this.data.date] !== 'undefined') {
                    this.booking = Object.keys(this.schedules[this.data.date])
                }
                this.updateTime()
            },
        },
        created() {
            this.title = moment(this.date).locale('ru').format('DD MMMM YYYY')
            this.data.date = moment(this.date).locale('ru').format('YYYY-MM-DD')
            if (typeof this.schedules[this.data.date] !== 'undefined') {
                this.booking = Object.keys(this.schedules[this.data.date])
            }
            this.day = moment(this.data.date).day()
            if (typeof this.cart.schedules[this.data.date] !== 'undefined')
                this.data.hours = this.cart.schedules[this.data.date].hours

            this.createTime()

            this.ModeChoose()

        },
        methods: {
            AddTime(hour, index) {

                this.times[index].status = !this.times[index].status

                if (this.data.hours.indexOf(hour.hours) > -1) {
                    this.data.hours.splice(this.data.hours.indexOf(hour.hours), 1)
                } else {
                    this.data.hours.push(hour.hours)
                }

                this.ModeChoose()

            },
            ModeChoose() {

                // revert in basic state
                if (!this.data.hours.length) {
                    return this.updateTime()
                }


                // sort the chosen time 1,2,3,4 ect.
                this.data.hours = this.data.hours.sort()


                // set mark to all time expect "booking, chosen"
                for (let t in this.times) {
                    if (this.booking.indexOf(String(this.times[t].hours)) > -1 &&
                            typeof this.cart.schedules[this.date] !== 'undefined' &&
                        this.cart.schedules[this.date].hours.indexOf(this.times[t].hours) === -1) {

                        this.times[t].status = 'booking'

                    } else if (this.data.hours.indexOf(this.times[t].hours) > -1) {

                        this.times[t].status = false

                    } else if (this.booking.indexOf(String(this.times[t].hours)) === -1) {

                        this.times[t].status = 'disable'
                    }
                }

                // show time only near with chosen time
                for (let t in this.times) {

                    let index = Number(t),
                        num = Number(1)

                    if (this.times[index].status === false) {

                        // this mark before chosen time
                        if (typeof this.times[index - num] !== 'undefined' && this.times[index - num].status === 'disable') {
                            this.times[index - num].status = true
                        }

                        // this mark after chosen time
                        if (typeof this.times[index + num] !== 'undefined' && this.times[index + num].status === 'disable') {
                            this.times[index + num].status = true
                        }

                    }

                }
            },
            createTime() {
                this.times = []

                for (let hour of this.category.days[this.day]) {

                    // status of hour
                    let status

                    if (this.booking.indexOf(String(hour.hour)) > -1) {
                        status = 'booking'
                    } else if (this.data.hours.indexOf(hour.hour) > -1) {
                        status = false
                    } else {
                        status = true
                    }

                    this.times.push({
                        hours: hour.hour,
                        price: hour.price,
                        status: status,
                        message: ''
                    })
                }
            },
            updateTime() {

                for (let hour of this.times) {

                    if (this.booking.indexOf(String(hour.hours)) > -1) {
                        hour.status = 'booking'
                    } else if (this.data.hours.indexOf(hour.hours) > -1 && this.booking.indexOf(String(hour.hours)) === -1) {
                        hour.status = false
                    } else {
                        hour.status = true
                    }


                }
            },
            MakeDateOrder() {

                let text
                if (this.cart.order.category_id === '') {
                    text = 'Выберите '
                    for (let name in window.menu) {
                        text += window.menu[name] + ', '
                    }
                    return this.Error(text.slice(0, -2), 1500)
                }

                if (this.data.hours.length === 0) {
                    return this.Error('Вы не выбрали вермя', 1500)
                }

                if (parseInt(this.category.min_hour) > this.data.hours.length) {
                    text = 'Вам нужно выбрать минимум ' + this.category.min_hour + ' часа для ' + this.category.name
                    console.log(text)
                    return this.Error(text, 1500)
                }

                if (this.data.date.length == '') {
                    return this.Error('Вы не дату', 1500)
                }
                let schedules = JSON.parse(JSON.stringify(this.cart.schedules))

                if(!Object.keys(schedules).length){
                    schedules = {}
                }

                schedules[this.data.date] = {
                    date: this.data.date,
                    hours: this.data.hours,
                    day: this.day,
                    category_id: this.category.id
                };


                console.log(schedules)

                this.$emit('schedule', {select: schedules})
                this.$emit('close', this.day)
            },

        }
    }
</script>

<style scoped>

</style>